{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="login-box-body">
        <!-- Login Form start -->
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group has-feedback">
                <input class="form-control" placeholder="{% trans 'username' %}" id="id_username" maxlength="254" name="username" type="text" required>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="{% trans 'Password' %}" id="id_password" name="password" type="password" required>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox"> 记住登录信息
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">{% trans 'Log in' %}</button>
                </div>
                <!-- /.col -->
            </div>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
        <!-- Login Form end -->
        {% trans "Forgot your password?" %} <a href="{% url 'auth_password_reset' %}" class="btn btn-link">{% trans "Reset it" %}</a><br>
        {% trans "Not a member?" %}<a href="{% url 'registration_register' %}" class="btn btn-link text-center">
            {% trans "Register" %}</a>

    </div>
{% endblock %}


{% comment %}
**registration/login.html**

It's your responsibility to provide the login form in a template called
registration/login.html by default. This template gets passed four
template context variables:

``form``
    A Form object representing the login form. See the forms
    documentation for more on Form objects.

``next``
    The URL to redirect to after successful login. This may contain a
    query string, too.

``site``
    The current Site, according to the SITE_ID setting. If you don't
    have the site framework installed, this will be set to an instance
    of RequestSite, which derives the site name and domain from the
    current HttpRequest.

``site_name``
    An alias for site.name. If you don't have the site framework
    installed, this will be set to the value of
    request.META['SERVER_NAME']. For more on sites, see The
    "sites" framework.
{% endcomment %}
