{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}
<div class="login-box-body">
<p class="login-box-msg">{% trans "Enter your new password below to reset your password:" %}</p>
        <!-- Login Form start -->
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group has-feedback">
                <input class="form-control" placeholder="{% trans 'Email' %}" id="id_email" maxlength="254" name="email" type="email" required>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">{% trans 'Set password' %}</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
        <!-- Login Form end -->
        {% trans "Forgot your password?" %} <a href="{% url 'auth_password_reset' %}" class="btn btn-link">{% trans "Reset it" %}</a><br>
        {% trans "Not a member?" %}<a href="{% url 'registration_register' %}" class="btn btn-link text-center">
            {% trans "Register" %}</a>

    </div>

{% endblock %}


{# This is used by django.contrib.auth #}
