{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}
{% block subtitle %}{{ title }}{% endblock %}

{% block content %}
{% if validlink %}

<div class="login-box-body">
<p class="login-box-msg">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
        <!-- Login Form start -->
        <form action="" method="post">
            {% csrf_token %}
           <div class="form-group has-feedback">
                <input name="new_password1" required type="password" class="form-control required" placeholder="{% trans 'password' %}">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
             {{ form.new_password1.errors }}
            </div>
            <div class="form-group has-feedback">
                <input name="new_password2" type="password" class="form-control" placeholder="{% trans 'Password (again)' %}">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <p class="text-error">{{ form.password2.help_text|safe }}</p>
            {{ form.new_password2.errors }}
            </div>
            <div class="row">
              <div class="col-xs-7"></div>
                <!-- /.col -->
                <div class="col-xs-5">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">{% trans 'Change my password' %}</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
        <!-- Login Form end -->
    </div>
{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}
{% endblock %}


{# This is used by django.contrib.auth #}
