{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset complete" %}{% endblock %}

{% block content %}
<div class="login-box-body">
<p class="login-box-msg">
    {% trans "Your password has been reset!" %}
    {% blocktrans %}You may now <a href="{{ login_url }}">log in</a>{% endblocktrans %}.

</p>
    <div class="social-auth-links text-center">
            <a href="#" class="btn btn-block btn-danger">
            {% trans "Password reset complete" %}</a>
        </div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
