{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password change" %}{% endblock %}
{% block subtitle %}{% trans "Password change" %}{% endblock %}

{% block content %}
<div class="login-box-body">
        <p class="login-box-msg">{% trans 'Your password was changed.' %}</p>

        <div class="social-auth-links text-center">
            <a href="{% url 'm2.home-page' %}" class="btn btn-block btn-danger">
            {% trans "Home" %}</a>
        </div>
        <!-- /.social-auth-links -->
    </div>
{% endblock %}


{# This is used by django.contrib.auth #}
