{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<div class="login-box-body">
<p>
    {% blocktrans %}
    We have sent you an email with a link to reset your password. Please check
    your email and click the link to continue.
    {% endblocktrans %}
</p>

    {% trans "Forgot your password?" %} <a href="{% url 'auth_password_reset' %}" class="btn btn-link">{% trans "Reset it" %}</a><br>
        {% trans "Not a member?" %}<a href="{% url 'registration_register' %}" class="btn btn-link text-center">
            {% trans "Register" %}</a>

    </div>

{% endblock %}


{# This is used by django.contrib.auth #}
