{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password changed" %}{% endblock %}

{% block content %}
<div class="login-box-body">
        <p class="login-box-msg">{% trans "Password successfully changed!" %}.</p>

        <div class="social-auth-links text-center">
            <a href="#" class="btn btn-block btn-danger">
            {% trans "Password changed" %}</a>
        </div>
        <!-- /.social-auth-links -->
    </div>
{% endblock %}


{# This is used by django.contrib.auth #}
