{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}
{% block subtitle %}{% trans "Change password" %}{% endblock %}
{% block content %}
<div class="login-box-body">
<form action="" role="form" method="post">
{% csrf_token %}
        {{ form.as_p }}
    <hr>
    <div class="row">
        <div class="col-xs-8"></div>
        <!-- /.col -->
        <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">{% trans 'Change password' %}</button>
        </div>
        <!-- /.col -->
    </div>
</form>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
