{% extends "m3_base.html" %}

{% block content %}
  <div class="content-header">
      <h1>
        <small>后台管理/谈论区管理</small>
      </h1>
  </div>
   <div class="row">
    <div class="col-md-11" style="margin-left: 20px;">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active treeview"><a href="#tab_1" data-toggle="tab">管理员</a></li>
          <li><a href="#tab_2" data-toggle="tab" id="tabTwo">统计</a></li>
          <li><a href="#tab_3" data-toggle="tab">回收站</a></li>
          <li><a href="#tab_4" data-toggle="tab">操作日志</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab_1">
            <form class="form-horizontal  col-sm-12" style="margin-bottom:30px;">
              <div class="box-body  col-sm-12">
                <div class="form-group">

                  <label for="inputEmail3" class="col-sm-2 control-label">讨论区管理员：</label>
                  <div class="col-sm-2">
                    <input type="text" class="form-control" placeholder="请输入">
                  </div>
                  
                  <label for="inputEmail3" class="col-md-2 col-sm-pull-1 control-label">完成时间：</label>
                  <div class="col-sm-4 col-sm-pull-1">
                      <input type="text" class="form-control pull-right" id="datepicker" data-date-format="yyyy-mm-dd hh:ii" class="form_datetime">
                  </div>

                </div>
                
              </div>
              <div class="box-footer  col-sm-12">
                <button type="submit" class="btn btn-success col-sm-1 col-sm-push-4">搜索</button>
                <button type="submit" class="btn btn-default col-md-1 col-sm-push-5">清除</button>
              </div>
            </form>
            <div class="box-body" style="margin-top: 20px;">
                <button type="button" class="btn bg-orange col-sm-1" id="xinzheng" style="margin-bottom: 10px;">新增</button>
                <table id="example1" class="table table-bordered">
                  <thead style="background-color: #f4f4f4;">
                    <tr>
                      <td>ID</td>
                      <td>讨论区管理员</td>
                      <td>增加时间</td>
                      <td>操作</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>1</td>
                      <td>牛师兄</td>
                      <td>2016/11/11 11:30:32</td>
                      <td><span class="text-red">删除</span><span class="text-green col-sm-7">查看日志</span></td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>贤二</td>
                      <td>2016/11/11 11:30:32</td>
                      <td><span class="text-red">删除</span><span class="text-green col-sm-7">查看日志</span></td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>贤一</td>
                      <td>2016/11/11 11:30:32</td>
                      <td><span class="text-red">删除</span><span class="text-green col-sm-7">查看日志</span></td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>李某某</td>
                      <td>2016/11/11 11:30:32</td>
                      <td><span class="text-red">删除</span><span class="text-green col-sm-7">查看日志</span></td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td>朱某某</td>
                      <td>2016/11/11 11:30:32</td>
                      <td><span class="text-red">删除</span><span class="text-green col-sm-7">查看日志</span></td>
                    </tr>
                    
                    </tbody>
                    
                </table>

                <div class="box-footer clearfix">
                  <ul class="pagination pagination-sm no-margin col-md-12">
                    <li><a href="#"><i class='fa fa-angle-left'></i></a></li>
                    <li><a href="#" class="active">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#"><i class='fa fa-angle-right'></i></a></li>
                    <li><a href="#">10条/页 <i class="fa fa-angle-down"></i></a></li>
                    <li>跳至</li>
                    <li><a href="#">5/100</a>&nbsp;&nbsp;页</li>
                  </ul>
                </div>
            </div>
          </div>
          <div class="tab-pane" id="tab_2">
              <div class="form-group col-sm-12">
                  <label for="inputPassword3" class="col-sm-2 col-sm-pull-1 control-label">数据统计时间：</label>
                  <label for="inputPassword3" class="col-sm-2 col-sm-pull-2 control-label">2016.10.19 23:58</label>
                  <button type="submit" class="btn btn-success col-sm-1 col-sm-pull-1">手动刷新</button>
              </div>
              <div class="box-body" style="margin-top: 20px;">
                  <table id="example1" class="table table-bordered">
                    <thead style="background-color: #f4f4f4;">
                      <tr>
                        <td>ID</td>
                        <td>数据项</td>
                        <td>录入板块</td>
                        <td>拆字板块</td>
                        <td>去重板块</td>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>1</td>
                        <td>帖子数</td>
                        <td>352</td>
                        <td>1274</td>
                        <td>253</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>回复数</td>
                        <td>352</td>
                        <td>1274</td>
                        <td>253</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>求助数/响应数</td>
                        <td>352</td>
                        <td>1274</td>
                        <td>253</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>删帖数</td>
                        <td>352</td>
                        <td>1274</td>
                        <td>253</td>
                      </tr>
                      </tbody>
                  </table>

                  <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin col-md-12">
                      <li><a href="#"><i class='fa fa-angle-left'></i></a></li>
                      <li><a href="#" class="active">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#"><i class='fa fa-angle-right'></i></a></li>
                      <li><a href="#">10条/页 <i class="fa fa-angle-down"></i></a></li>
                      <li>跳至</li>
                      <li><a href="#">5/100</a>&nbsp;&nbsp;页</li>
                    </ul>
                  </div>
              </div>
            <div style="clear:both;"></div>
          </div>
          <div class="tab-pane" id="tab_3">
            <form class="form-horizontal  col-sm-12" style="margin-bottom:30px;">
              <div class="box-body  col-sm-12">
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">用户：</label>
                  <div class="col-sm-2">
                    <input type="text" class="form-control" placeholder="请输入">
                  </div>
                  <label for="inputEmail3" class="col-md-2 col-sm-pull-1 control-label">回收时间：</label>
                  <div class="col-sm-4 col-sm-pull-1">
                      <input type="text" class="form-control pull-right" id="datepicker" data-date-format="yyyy-mm-dd hh:ii" class="form_datetime">
                  </div>
                </div>
              </div>
              <div class="box-footer  col-sm-12">
                <button type="submit" class="btn btn-success col-sm-1 col-sm-push-4">搜索</button>
                <button type="submit" class="btn btn-default col-md-1 col-sm-push-5">清除</button>
              </div>
            </form>
            <div class="box-body" style="margin-top: 20px;">
                <button type="submit" class="btn btn-danger col-sm-1">彻底删除</button>
                <button type="submit" class="btn btn-default col-md-1" style="margin:0px 0px 10px 10px;">还原</button>
                <table id="example1" class="table table-bordered">
                  <thead style="background-color: #f4f4f4;">
                    <tr>
                      <td><input type="button" id="radioAll" class="buttonRS"></td>
                      <td>ID</td>
                      <td>用户</td>
                      <td>回收时间</td>
                      <td>操作</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td><input type="button" name="radioA" class="buttonRS"></td>
                      <td>1</td>
                      <td>牛师兄</td>
                      <td>2016/12/11 12:12:12</td>
                      <td><span class="text-green col-sm-7">查看</span><span class="text-red">删除</span></td>
                    </tr>
                    <tr>
                      <td><input type="button" name="radioA" class="buttonRS"></td>
                      <td>2</td>
                      <td>贤二</td>
                      <td>2016/12/11 12:12:12</td>
                      <td><span class="text-green col-sm-7">查看</span><span class="text-red">删除</span></td>
                    </tr>
                    <tr>
                      <td><input type="button" name="radioA" class="buttonRS"></td>
                      <td>3</td>
                      <td>贤一</td>
                      <td>2016/12/11 12:12:12</td>
                      <td><span class="text-green col-sm-7">查看</span><span class="text-red">删除</span></td>
                    </tr>
                    <tr>
                      <td><input type="button" name="radioA" class="buttonRS"></td>
                      <td>4</td>
                      <td>李某某</td>
                      <td>2016/12/11 12:12:12</td>
                      <td><span class="text-green col-sm-7">查看</span><span class="text-red">删除</span></td>
                    </tr>
                    <tr>
                      <td><input type="button" name="radioA" class="buttonRS"></td>
                      <td>5</td>
                      <td>朱某某</td>
                      <td>2016/12/11 12:12:12</td>
                      <td><span class="text-green col-sm-7">查看</span><span class="text-red">删除</span></td>
                    </tr>
                    
                    </tbody>
                    
                </table>

                <div class="box-footer clearfix">
                  <ul class="pagination pagination-sm no-margin col-md-12">
                    <li><a href="#"><i class='fa fa-angle-left'></i></a></li>
                    <li><a href="#" class="active">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#"><i class='fa fa-angle-right'></i></a></li>
                    <li><a href="#">10条/页 <i class="fa fa-angle-down"></i></a></li>
                    <li>跳至</li>
                    <li><a href="#">5/100</a>&nbsp;&nbsp;页</li>
                  </ul>
                </div>
            </div>

          </div>
          <div class="tab-pane"  id="tab_4">
              <form class="form-horizontal  col-sm-12" style="margin-bottom: 70px;">
                <div class="box-body  col-sm-12">

                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-1 control-label">用户：</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" placeholder="请输入用户名">
                    </div>
                    <label for="inputEmail3" class="col-sm-1 control-label">日志：</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" placeholder="请输入日志">
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label for="inputEmail3" class="col-md-1 control-label">时间：</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control pull-right" id="datepickerAll" data-date-format="yyyy-mm-dd hh:ii" class="form_datetime">
                    </div>
                  </div>

                </div>
                <div class="box-footer  col-sm-12">
                  <button type="submit" class="btn btn-success col-sm-1 col-sm-push-4">搜索</button>
                  <button type="submit" class="btn btn-default col-md-1 col-sm-push-5">清除</button>
                </div>
              </form>
              <div class="box-body" style="margin-top: 20px;">
                  <table id="example1" class="table table-bordered">
                    <thead style="background-color: #f4f4f4;">
                      <tr>
                        <td class="col-md-1">ID</td>
                        <td class="col-md-1">用户</td>
                        <td class="col-md-2">时间</td>
                        <td class="col-md-6">日志</td>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>1</td>
                        <td>贤一</td>
                        <td>2016/11/11 11:30:32</td>
                        <td>贤一阿弥陀佛阿弥陀佛阿弥陀佛阿弥陀佛阿弥陀佛阿弥陀佛阿弥陀佛阿弥陀佛阿弥陀佛</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>贤二</td>
                        <td>2016/11/11 11:30:32</td>
                        <td>贤一阿弥陀佛阿弥陀佛阿弥陀佛阿弥陀佛阿弥陀佛阿弥陀佛阿弥陀佛阿弥陀佛阿弥陀佛</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>贤一</td>
                        <td>2016/11/11 11:30:32</td>
                        <td>贤一阿弥陀佛阿弥陀佛阿弥陀佛阿弥陀佛阿弥陀佛阿弥陀佛阿弥陀佛阿弥陀佛阿弥陀佛</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>李某某</td>
                        <td>2016/11/11 11:30:32</td>
                        <td>贤一阿弥陀佛阿弥陀佛阿弥陀佛阿弥陀佛阿弥陀佛阿弥陀佛阿弥陀佛阿弥陀佛阿弥陀佛</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>朱某某</td>
                        <td>2016/11/11 11:30:32</td>
                        <td>贤一阿弥陀佛阿弥陀佛阿弥陀佛阿弥陀佛阿弥陀佛阿弥陀佛阿弥陀佛阿弥陀佛阿弥陀佛</td>
                      </tr>
                      </tbody>
                      
                  </table>

                  <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin col-md-12">
                      <li><a href="#"><i class='fa fa-angle-left'></i></a></li>
                      <li><a href="#" class="active">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#"><i class='fa fa-angle-right'></i></a></li>
                      <li><a href="#">10条/页 <i class="fa fa-angle-down"></i></a></li>
                      <li>跳至</li>
                      <li><a href="#">5/100</a>&nbsp;&nbsp;页</li>
                    </ul>
                  </div>
              </div>
          </div>

        </div>
      </div>
    </div>
   </div>
   <div class="example-modal">
    <div class="modal">
      <div class="modal-dialog">
        <div class="modal-content col-md-12" style="border-radius: 4px;">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" id="exampleModal">&times;</span></button>
            <h4 class="modal-title">新增讨论区管理员</h4>
          </div>
          <div class="modal-body col-md-12">
            <div class='col-md-8 padding col-sm-push-2'>
                <div class="form-group col-sm-12">
                  <label for="inputEmail3" class="col-sm-4 control-label">用户名：</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control" placeholder="请输入用户名">
                  </div>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <span id="exampleModal"><button type="button" class="btn col-sm-2 col-sm-push-2 btn-default pull-left" data-dismiss="modal">取消</button></span>
            <span id="exampleModal"><button type="button" class="btn col-sm-2 col-sm-push-5 btn-success">确定</button></span>
          </div>

        </div>
      </div>
    </div>
   </div>
<script>
  $(function () {
    $(".select2").select2();

    $('input[id^=datepicker]').daterangepicker({timePicker: true, format: 'MM/DD/YYYY h:mm A'});
    $('input[id^=datepickerAll]').daterangepicker({timePicker: true, format: 'MM/DD/YYYY h:mm A'});
    //Date picker
    // $('input[id^=datepicker]').datepicker({autoclose: true});
    $('#lowAll').click(function(){
        $('#leave').toggle();
    })

    $('input[id^=radioAll]').click(function(){
        if($(this).hasClass('btn-success')){
            $(this).removeClass('btn-success');
            $('input[name=radioA]').removeClass('btn-success');
        }else{
            $('input[name=radioA]').addClass('btn-success');
            $(this).addClass('btn-success');
        }
    })

    $('input[name^=radioA]').click(function(){
        if($(this).hasClass('btn-success')){
            $(this).removeClass('btn-success');
        }else{
            $(this).addClass('btn-success');
        }
    })

    $('#xinzheng').click(function(){
          $('.modal').show();
    })

    $('span[id^=exampleModal]').click(function(){
          $('.modal').hide();
    })

  });
</script>

{% endblock %} 
    