{% extends "m2_base.html" %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-header">
                <div class="box-header-inner">
                    <h3 class="box-title">我的兑换:</h3>
                    <div class="ser-bd z-ser-bd">
                        <div class="ser-left">
                            <div class="z-myScore">
                                <span class="z-total">总积分：<b>3000</b></span>
                                <span>(去重:<b>30%</b>,&nbsp;录入:<b>30%</b>,&nbsp;拆字:<b>30%</b>,&nbsp;互助:<b>30%</b>);</span>
                                <a class="exchange" href="javascript:;">已兑换：<b>800</b></a>
                            </div>
                        </div>
                    </div>
                    <div class="box-body table-responsive">
                        <table id="example1" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>时间</th>
                                <th>奖品</th>
                                <th>所用分值</th>
                                <th>状态</th>
                                <th>备注</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>2016/10/1 14:10:19</td>
                                <td>感悟人生</td>
                                <td>200</td>
                                <td>已领取</td>
                                <td>希望法师题字</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>2016/10/1 14:10:19</td>
                                <td>感悟人生</td>
                                <td>200</td>
                                <td>已受理</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>2016/10/9 14:10:19</td>
                                <td>感悟人生</td>
                                <td>500</td>
                                <td>申请中</td>
                                <td></td>
                                <td><a class="blue" href="javascript:;">删除</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div>
            <div class="z-info">
                <h3 class="box-title">积分兑换:</h3>
            </div>
            <div class="box-body table-responsive">
                <ul class="z-exchangeLists">
                    <li class="z-exchangeItem">
                        <img src="../img/1.jpg" alt="">
                        <div class="z-txt">
                            <p class="z-name">感悟人生</p>
                            <p class="z-needScore">兑换分值:<span>1000</span>分</p>
                            <button class="btn btn-primary btn-sm btn-mt">申请兑换</button>
                        </div>
                    </li>
                    <li class="z-exchangeItem">
                        <img src="../img/2.jpg" alt="">
                        <div class="z-txt">
                            <p class="z-name">好好说话</p>
                            <p class="z-needScore">兑换分值:<span>1000</span>分</p>
                            <button class="btn btn-primary btn-sm btn-mt">申请兑换</button>
                        </div>
                    </li>
                    <li class="z-exchangeItem">
                        <img src="../img/3.jpg" alt="">
                        <div class="z-txt">
                            <p class="z-name">苦乐人生</p>
                            <p class="z-needScore">兑换分值:<span>1000</span>分</p>
                            <button class="btn btn-primary btn-sm btn-mt">申请兑换</button>
                        </div>
                    </li>
                    <li class="z-exchangeItem">
                        <img src="../img/4.jpg" alt="">
                        <div class="z-txt">
                            <p class="z-name">苦乐人生</p>
                            <p class="z-needScore">兑换分值:<span>1000</span>分</p>
                            <button class="btn btn-primary btn-sm btn-mt">申请兑换</button>
                        </div>
                    </li>
                    <li class="z-exchangeItem">
                        <img src="../img/5.jpg" alt="">
                        <div class="z-txt">
                            <p class="z-name">善的力量</p>
                            <p class="z-needScore">兑换分值:<span>1000</span>分</p>
                            <button class="btn btn-primary btn-sm btn-mt">申请兑换</button>
                        </div>
                    </li>
                    <li class="z-exchangeItem">
                        <img src="../img/6.jpg" alt="">
                        <div class="z-txt">
                            <p class="z-name">认识人生</p>
                            <p class="z-needScore">兑换分值:<span>1000</span>分</p>
                            <button class="btn btn-primary btn-sm btn-mt">申请兑换</button>
                        </div>
                    </li>
                    <li class="z-exchangeItem">
                        <img src="../img/7.jpg" alt="">
                        <div class="z-txt">
                            <p class="z-name">责任担当</p>
                            <p class="z-needScore">兑换分值:<span>1000</span>分</p>
                            <button class="btn btn-primary btn-sm btn-mt">申请兑换</button>
                        </div>
                    </li>
                    <li class="z-exchangeItem">
                        <img src="../img/8.jpg" alt="">
                        <div class="z-txt">
                            <p class="z-name">和合愿景</p>
                            <p class="z-needScore">兑换分值:<span>1000</span>分</p>
                            <button class="btn btn-primary btn-sm btn-mt">申请兑换</button>
                        </div>
                    </li>
                    <li class="z-exchangeItem">
                        <img src="../img/9.jpg" alt="">
                        <div class="z-txt">
                            <p class="z-name">烦恼都是自找的</p>
                            <p class="z-needScore">兑换分值:<span>1000</span>分</p>
                            <button class="btn btn-primary btn-sm btn-mt">申请兑换</button>
                        </div>
                    </li>
                    <li class="z-exchangeItem">
                        <img src="../img/10.jpg" alt="">
                        <div class="z-txt">
                            <p class="z-name">放下是舍更是得</p>
                            <p class="z-needScore">兑换分值:<span>1000</span>分</p>
                            <button class="btn btn-primary btn-sm btn-mt">申请兑换</button>
                        </div>
                    </li>
                    <li class="z-exchangeItem">
                        <img src="../img/11.jpg" alt="">
                        <div class="z-txt">
                            <p class="z-name">快乐就这么简单</p>
                            <p class="z-needScore">兑换分值:<span>1000</span>分</p>
                            <button class="btn btn-primary btn-sm btn-mt">申请兑换</button>
                        </div>
                    </li>
                    <li class="z-exchangeItem">
                        <img src="../img/12.jpg" alt="">
                        <div class="z-txt">
                            <p class="z-name">愿你没有白白受苦</p>
                            <p class="z-needScore">兑换分值:<span>1000</span>分</p>
                            <button class="btn btn-primary btn-sm btn-mt">申请兑换</button>
                        </div>
                    </li>
                    <li class="z-exchangeItem">
                        <img src="../img/13.jpg" alt="">
                        <div class="z-txt">
                            <p class="z-name">一切都还没有注定</p>
                            <p class="z-needScore">兑换分值:<span>1000</span>分</p>
                            <button class="btn btn-primary btn-sm btn-mt">申请兑换</button>
                        </div>
                    </li>
                    <li class="z-exchangeItem">
                        <img src="../img/14.jpg" alt="">
                        <div class="z-txt">
                            <p class="z-name">文集</p>
                            <p class="z-needScore">兑换分值:<span>1000</span>分</p>
                            <button class="btn btn-primary btn-sm btn-mt">申请兑换</button>
                        </div>
                    </li>
                </ul>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>
{% endblock %}