{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-header">
                <div class="box-header-inner">
                    <h3 class="box-title">我的积分详情:</h3>
                    <div class="ser-bd z-ser-bd">
                        <div class="ser-left">
                            <div class="z-myScore">
                                <span class="z-total">总积分：<b>3000</b></span>
                                <span>(去重:<b>30%</b>,&nbsp;录入:<b>30%</b>,&nbsp;拆字:<b>30%</b>,&nbsp;互助:<b>30%</b>);</span>
                                <a class="exchange" href="myExchange.html" title="查看我的兑换">已兑换：<b>800</b></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="z-box-header">
                <div class="z-box-header-inner">
                    <div class="ser-bd">
                        <div class="ser-sel">
                            <div class="input-group">
                                <span class="input-group-addon">任务类型:</span>
                                <!-- select -->
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>总积分</option>
                                        <option>拆字积分</option>
                                        <option>去重积分</option>
                                        <option>录入积分</option>
                                        <option>互助积分</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body table-responsive">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>积分</th>
                        <th>任务类型</th>
                        <th>任务包名称</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>200</td>
                        <td>去重</td>
                        <td>#001_异体字去重</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>200</td>
                        <td>拆字</td>
                        <td>#001_异体字去重</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>200</td>
                        <td>录入</td>
                        <td>#001_异体字去重</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>200</td>
                        <td>去重</td>
                        <td>#001_异体字去重</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>200</td>
                        <td>去重</td>
                        <td>#001_异体字去重</td>
                    </tr>
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>
{% endblock %}