{% extends "m2_base.html" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-blue">
                <!-- /.box-header -->
                <div id="credits-sort" class="box-header">
                    <div class="box-header-inner">
                        <h3 class="box-title">我的兑换:</h3>
                        <div class="ser-bd">
                            <div class="z-ser">
                                <div class="z-myScore">
                                    <span class="z-total">总积分：<b>#[ aquireCredit ]</b></span>
                                    <span>#[ credit_des ]</span>
                                    <span
                                            title="查看我的兑换">已兑换：<b>#[ redeemcredits ]</b></span>
                                </div>
                            </div>
                            <div class="box-body table-responsive">
                                <table id="example1" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>受理时间</th>
                                        <th>兑换完成时间</th>
                                        <th>奖品名称</th>
                                        <th>所用分值</th>
                                        <th>状态</th>
                                        <th>备注</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody v-for="item in result">
                                    <tr>
                                        <td v-text="item.accepted_at"></td>
                                        <td v-text="item.completed_at"></td>
                                        <td v-text="item.reward_name"></td>
                                        <td v-text="item.cost_credits"></td>
                                        <td v-text="item.status"></td>
                                        <td v-text="item.remark"></td>
                                        <td v-text="item.id"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <ul id="app" class="pagination" style="margin: 5px 0 10px 0">
                                    {% if previous_url %}
                                        <li>
                                            <a href="{{ previous_url }}" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="disabled">
                                            <a href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                    {% endif %}

                                    {% for page_link in page_links %}
                                        {% if page_link.is_break %}
                                            <li class="disabled">
                                                <a href="#"><span aria-hidden="true">&hellip;</span></a>
                                            </li>
                                        {% else %}
                                            {% if page_link.is_active %}
                                                <li class="active">
                                                    <a href="{{ page_link.url }}">{{ page_link.number }}</a>
                                                </li>
                                            {% else %}
                                                <li>
                                                    <a href="{{ page_link.url }}">{{ page_link.number }}</a>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}

                                    {% if next_url %}
                                        <li>
                                            <a href="{{ next_url }}" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="disabled">
                                            <a href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div><!-- /.box-body -->
                        </div>
                    </div>
                </div>
            </div><!-- /.box -->
        </div>
        <div id="reward-list" class="exchange-infos">
            <div class="z1-box-inner box box-blue">
                <div class="z1-info">
                    <h3 class="box-title">积分兑换:</h3>
                </div>
                <div v-for="r in rewards" class="col-md-2 col-sm-3 col-xs-6">
                    <reward :id=r.id
                            :reward_name=r.reward_name
                            :reward_quantity=r.reward_quantity
                            :reward_pic=r.reward_pic
                            :need_credits=r.need_credits>
                    </reward>
                </div>

            </div>
        </div>
    </div>
    <script type="text/javascript">

        function MyCreditsRedeemSearch(url) {
            $.ajax({
                url: url,
                method: 'GET',
                dataType: 'json',
                success: function (response) {
                    creditsSort.result = response;
                },
                error: function (xhr, status, err) {
                    console.log(err);
                }
            })
        }

        Vue.component('reward', {
            delimiters: ["#[", "]]"],
            props: ['id', 'reward_name', 'reward_quantity', 'reward_pic', 'need_credits'],
            template: '<div class="z-exchangeItem">\
                        <img :src="pic" alt="">\
                        <div class="z-txt">\
                            <p class="z-name">#[reward_name]]</p>\
                            <p class="z-needScore">兑换分值:<span>#[need_credits]]</span>分</p>\
                            <button @click="apply" class="btn btn-primary btn-sm btn-mt">申请兑换</button>\
                        </div>\
                    </div>',
            data: function () {
                return {
                    local_id : this.id,
                    pic: "{{ STATIC_URL }}uploads/reward/"+this.reward_pic
                }
            },
            methods: {
                apply: function(e){
                    element = e.target;
                    $.ajax({
                        url: "{% url 'redeems-create-redeen' version='v1' %}",
                        method: 'POST',
                        data:{
                            reward_id:this.id
                        },
                        dataType: 'json',
                        success: function (response) {

                        },
                        error: function (xhr, status, err) {
                            console.log(err);
                        }
                    })

                }

            }
        });
        var reward_list = new Vue({
            delimiters: ["#[", "]"],
            el: '#reward-list',
            data: {
                rewards: null
            },
            methods: {
                reward_list:function(){
                    $.ajax({
                        url: "{% url 'reward-list' version='v1' %}",
                        method: 'GET',
                        dataType: 'json',
                        success: function (response) {
                            reward_list.rewards = response.models;
                        },
                        error: function (xhr, status, err) {
                            console.log(err);
                        }
                    })
                }
            },
            created: function () {
                this.reward_list();
            }
        });

        var creditsSort = new Vue({
            delimiters: ["#[", "]"],
            el: '#credits-sort',
            data: {
                total_credit: 0,
                credit_des: "",
                redeemcredits: 0,
                result: null
            },
            methods: {
                get_total: function () {
                    $.ajax({
                        url: "{% url 'credits-calculate-user-credits' version='v1' %}",
                        method: 'GET',
                        dataType: 'json',
                        data: {},
                        success: function (response) {
                            creditsSort.total_credit = response['sum_credit'];
                            creditsSort.credit_des = response['credit_detail'];
                            creditsSort.redeemcredits = response['credit_redeem'];
                        },
                        error: function (xhr, status, err) {
                            console.log(err);
                        }
                    })
                }
            },
            watch: {},
            computed: {
                aquireCredit: function () {
                    this.get_total();
                    return this.total_credit
                }
            },
            created: function () {
                redeem_url = "{% url 'redeems-certain-user-redeem'  version='v1' %}";
                MyCreditsRedeemSearch(redeem_url);
            }
        })

    </script>
{% endblock %}