{% extends "m2_base.html" %}

{% block content %}
    <!--2017年1月20日更新
    APIs:
    1. 积分类型以及占总积分的比例等待api完成后写
    2. 任务包名称
    3. 积分类型缺图书校对和论文下载
    -->
    <div class="row">
        <div class="col-xs-12">
            <div id="credits-sort" class="box box-blue">
                <div class="box-header">
                    <div class="box-header-inner">
                        <h3 class="box-title">我的积分详情:</h3>
                        <div class="ser-bd">
                            <div class="z-ser z1-ser">
                                <div class="z-myScore">
                                    <span class="z-total">总积分：<b>#[ aquireCredit ]</b></span>
                                    <span>#[ credit_des ]</span>
                                    <a class="exchange" href="{% url 'm2.credits-redeem' %}"
                                       title="查看我的兑换">已兑换：<b>800</b></a>
                                </div>
                                <div class="col col-md-4 col-sm-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">任务类型:</span>
                                        <div class="form-group">
                                            <select class="form-control" v-model="sort">
                                                <option v-for="option in options" v-bind:value="option.value">
                                                    #[option.text]
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>积分</th>
                            <th>任务类型</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(item, index) in result">
                            <td v-text="index+1"></td>
                            <td v-text="item.credit"></td>
                            <td v-text="item.sort_name"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function MyCreditsSearch(url, data) {
            $.ajax({
                url: url,
                method: 'GET',
                dataType: 'json',
                data: data,
                success: function (response) {
                    creditsSort.result = response.results;
                },
                error: function (xhr, status, err) {
                    console.log(err);
                }
            })
        }

        var credit_url = "{% url 'credits-list' version='v1' %}";

        var creditsSort = new Vue({
            delimiters: ["#[", "]"],
            el: '#credits-sort',
            data: {
                result: null,
                sort: 1,
                total_credit: 0,
                credit_des:"",
                options: [
                    {text: '总积分', value: 0},
                    {text: '拆字积分', value: 1},
                    {text: '去重积分', value: 5},
                    {text: '录入积分', value: 2},
                    {text: '图书校对', value: 3},
                    {text: '论文下载', value: 4}
                ]
            },
            methods:{
              get_total: function(){
                  $.ajax({
                        url: "{% url 'credits-calculate-user-credits' version='v1' %}",
                        method: 'GET',
                        dataType: 'json',
                        data: {},
                        success: function (response) {
                            creditsSort.total_credit = response['sum_credit'];
                            creditsSort.credit_des = response['credit_detail'];
                        },
                        error: function (xhr, status, err) {
                            console.log(err);
                        }
                    })
              }
            },
            watch: {
                sort: function () {
                    MyCreditsSearch(credit_url, {'sort': creditsSort.sort});
                }
            },
            computed: {
                aquireCredit: function () {
                    this.get_total();
                    //for (item in this.result) {
                      //  this.total_credit = this.result[item].credit
                    //}
                    return this.total_credit
                }
            },
            created: function () {
                MyCreditsSearch(credit_url, {'sort': 1});
            }
        });
    </script>
{% endblock %}
