{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right">
                <li class="active"><a href="#Jan" data-toggle="tab">1月</a></li>
                <li><a href="#Feb" data-toggle="tab">2月</a></li>
                <li><a href="#Mar" data-toggle="tab">3月</a></li>
                <li><a href="#Apr" data-toggle="tab">4月</a></li>
                <li><a href="#May" data-toggle="tab">5月</a></li>
                <li><a href="#June" data-toggle="tab">6月</a></li>
                <li><a href="#July" data-toggle="tab">7月</a></li>
                <li><a href="#Aug" data-toggle="tab">8月</a></li>
                <li><a href="#Sep" data-toggle="tab">9月</a></li>
                <li><a href="#Oct" data-toggle="tab">10月</a></li>
                <li><a href="#Nov" data-toggle="tab">11月</a></li>
                <li><a href="#Dec" data-toggle="tab">12月</a></li>
            </ul>
            <div class="tab-content">
                <div class="active tab-pane" id="Jan">
                    <!-- The time line -->
                    <ul class="timeline">
                        <!-- timeline time label -->
                        <li class="time-label">
                                    <span class="bg-red">
                                        今天
                                    </span>
                        </li>
                        <!-- /.timeline-label -->
                        <!-- timeline item -->
                        <li>
                            <!-- <i class="fa fa-envelope bg-blue"></i> -->
                            <div class="timeline-item">
                                <h3 class="timeline-header">
                                    <!-- radio -->
                                    <!-- radio -->
                                    <div class="form-group">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="optionsRadios" id="optionsRadios1"
                                                       value="option1" checked>
                                                问题反馈
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="optionsRadios" id="optionsRadios2"
                                                       value="option2">
                                                心情故事
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="optionsRadios" id="optionsRadios3"
                                                       value="option3"/>
                                                其他
                                            </label>
                                        </div>
                                    </div>
                                </h3>
                                <div class="timeline-body">
                                    <!-- quick email widget -->
                                    <div class="box box-info">
                                        <div class="box-body">
                                            <form action="#" method="post">
                                                <div>
                                                    <textarea class="textarea" placeholder="说点什么吧..."
                                                              style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="box-footer clearfix">
                                            <button class="pull-right btn btn-default" id="sendEmail">提交 <i
                                                    class="fa fa-arrow-circle-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- END timeline item -->
                        <!-- timeline time label -->
                        <li class="time-label">
                                    <span class="bg-green">
                                        2016-12-12
                                    </span>
                            <span>拆字</span>
                            <span>去重</span>
                        </li>
                        <!-- /.timeline-label -->

                        <li>
                            <i class="fa fa-clock-o"></i>
                        </li>
                    </ul>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="Feb">

                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="Mar">

                </div>
                <!-- /.tab-pane -->
                <!-- /.tab-pane -->
                <div class="tab-pane" id="Apr">

                </div>
                <!-- /.tab-pane -->
                <!-- /.tab-pane -->
                <div class="tab-pane" id="May">

                </div>
                <!-- /.tab-pane -->
                <!-- /.tab-pane -->
                <div class="tab-pane" id="June">

                </div>
                <!-- /.tab-pane -->
                <!-- /.tab-pane -->
                <div class="tab-pane" id="July">

                </div>
                <!-- /.tab-pane -->
                <!-- /.tab-pane -->
                <div class="tab-pane" id="Aug">

                </div>
                <!-- /.tab-pane -->
                <!-- /.tab-pane -->
                <div class="tab-pane" id="Sep">

                </div>
                <!-- /.tab-pane -->
                <!-- /.tab-pane -->
                <div class="tab-pane" id="Oct">

                </div>
                <!-- /.tab-pane -->
                <!-- /.tab-pane -->
                <div class="tab-pane" id="Nov">

                </div>
                <!-- /.tab-pane -->
                <!-- /.tab-pane -->
                <div class="tab-pane" id="Dec">

                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->
    </div>
</div>
{% endblock %}
