{% extends "m2_base.html" %}

{% block content %}
	<!-- Content Header-->
      <div class="content-header">
        <ol class="breadcrumb">
          <li><a href="javascript:;">讨论区</a></li>
          <li class="active">我的求助</li>
        </ol>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#all" data-toggle="tab">全部</a></li>
              <li><a href="#split" data-toggle="tab">拆字</a></li>
              <li><a href="#input" data-toggle="tab">录入</a></li>
              <li><a href="#dedup" data-toggle="tab">去重</a></li>
            </ul>
            <div class="tab-content">
              <div class="active tab-pane" id="all">
                <div class="top-part">
                  <div class="tabs-group pull-left">
                    <a href="javascript:;"><i class="icon-all active"></i><span>查看全部</span></a>
                    <!-- <a href="javascript:;"><i class="icon-help"></i><span>只查看求助</span></a> -->
                    <a href="javascript:;"><i class="icon-time"></i><span>按时间</span></a>
                    <a href="javascript:;"><i class="icon-like"></i><span>按关注度</span></a>
                  </div>
                  <div class="box-tools pull-left">
                    <div class="input-group input-group-sm" style="width: 180px;">
                      <input type="text" name="table_search" class="form-control pull-right" placeholder="请输入检索内容">
                      <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Post -->
                <div class="post">
                  <div class="user-block">
                    <img class="img-circle img-bordered-sm" src="../img/user.jpg" alt="user image">
                    <span class="username">
                        <a href="#">贤一</a>
                    </span>
                    <span>2016-12-30</span>
                    <span><em>任务ID：</em><em>S22071</em></span>
                    <button class="btn btn-danger btn-help">求助中</button>
                  </div>
                  <!-- /.user-block -->
                  <div class="content-block">
                    <p class="question">阿弥陀佛！请教下大家：1.部件“八”是否可用作初步拆分？2.相似部件可否用“半”?</p>
                    <div class="products-list product-list-in-box">
                      <div class="item">
                        <div class="product-img">
                          <img src="../img/font-img6.png" alt="Product Image">
                        </div>
                        <div class="product-info">
                          <p>
                            <span class="product-description"><em>初步拆分一：</em><em>⿰⿰亻丨⿱厶夫</em></span>
                            <span class="product-description"><em>初步拆分二：</em><em>⿰⿰亻丨⿱厶夫</em></span>
                          </p>
                          <span class="product-description"><em>相似部件：</em><em>夫</em></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ul class="list-inline">
                    <li><a href="#" class="link-black text-sm"><i class="icon-comments"></i>评论 <em>20</em></a></li>
                    <li><a href="#" class="link-black text-sm"><i class="icon-like"></i>关注</a> <em>30</em></li>
                    <li><a href="#" class="link-black text-sm"><i class="icon-del"></i>删除</a></li>
                    <li><a href="#" class="link-black text-sm"><i class="icon-edit"></i>修改</a></li>
                    <li><a href="#" class="link-black text-sm"><i class="icon-top"></i>置顶</a></li>
                  </ul>
                  <div class="comments txtcon">
                    <div class="txtcon-inner">
                      <i class="topicon"></i>
                      <div class="txtcon-item">
                        <div class="user-block">
                          <img class="img-circle img-bordered-sm" src="../img/user.jpg" alt="user image">
                          <span class="username"><a href="#">贤一</a></span>
                          <span>2016-12-30</span>
                        </div>
                        <p class="question">阿弥陀佛！请教下大家：1.部件“八”是否可用作初步拆分？2.相似部件可否用“半”?</p>
                        <div class="response"><a href="javascript:;" class="link-black text-sm"><i class="icon-comments"></i>回复</a></div>
                        <div class="form-group">
                          <textarea class="form-control" rows="3" placeholder=""></textarea>
                        </div>
                      </div>
                      <div class="txtcon-item">
                        <div class="user-block">
                          <img class="img-circle img-bordered-sm" src="../img/user.jpg" alt="user image">
                          <span class="username"><a href="#">贤二</a></span>
                          <span>2016-12-30</span>
                        </div>
                        <p class="question">阿弥陀佛！</p>
                        <div class="response"><a href="javascript:;" class="link-black text-sm"><i class="icon-comments"></i>回复</a></div>
                        <div class="form-group">
                          <textarea class="form-control" rows="3" placeholder=""></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="我也说一句">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-info btn-flat">发表</button>
                    </span>
                  </div>
                </div>
                <!-- /.post -->
                <div class="box-footer clearfix">
                  <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">»</a></li>
                  </ul>
                </div>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="split">

              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="input">

              </div>
              <!-- /.tab-pane -->
              <!-- /.tab-pane -->
              <div class="tab-pane" id="dedup">

              </div>
              <!-- /.tab-pane -->

            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
      </div>
{% endblock %}