{% extends "m2_base.html" %}

{% block content %}
	<div class="content-header">
        <ol class="breadcrumb">
          <li><a href="javascript:;">讨论区</a></li>
          <li class="active">回收站</li>
        </ol>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#all" data-toggle="tab">全部</a></li>
              <li><a href="#split" data-toggle="tab">拆字</a></li>
              <li><a href="#input" data-toggle="tab">录入</a></li>
              <li><a href="#dedup" data-toggle="tab">去重</a></li>
            </ul>
            <div class="tab-content">
              <div class="active tab-pane" id="all">
                <!-- Post -->
                <div class="post">
                  <div class="user-block">
                    <img class="img-circle img-bordered-sm" src="../img/user.jpg" alt="user image">
                    <span class="username">
                        <a href="#">贤一</a>
                    </span>
                    <span>2016-12-30</span>
                    <span><em>任务ID：</em><em>S22071</em></span>
                    <button class="btn btn-danger btn-help">求助中</button>
                  </div>
                  <!-- /.user-block -->
                  <div class="content-block">
                    <p class="question">阿弥陀佛！请教下大家：1.部件“八”是否可用作初步拆分？2.相似部件可否用“半”?</p>
                    <div class="products-list product-list-in-box">
                      <div class="item">
                        <div class="product-img">
                          <img src="../img/font-img6.png" alt="Product Image">
                        </div>
                        <div class="product-info">
                          <p>
                            <span class="product-description"><em>初步拆分一：</em><em>⿰⿰亻丨⿱厶夫</em></span>
                            <span class="product-description"><em>初步拆分二：</em><em>⿰⿰亻丨⿱厶夫</em></span>
                          </p>
                          <span class="product-description"><em>相似部件：</em><em>夫</em></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ul class="list-inline">
                    <li><a href="#" class="link-black text-sm"><i class="icon-del"></i>彻底删除</a></li>
                    <li><a href="#" class="link-black text-sm"><i class="icon-back"></i>还原</a></li>
                  </ul>
                </div>
                <!-- /.post -->
                <!-- Post -->
                <div class="post">
                  <div class="user-block">
                    <img class="img-circle img-bordered-sm" src="../img/user.jpg" alt="user image">
                    <span class="username">
                        <a href="#">贤一</a>
                    </span>
                    <span>2016-12-30</span>
                    <span><em>任务ID：</em><em>S22071</em></span>
                    <button class="btn btn-danger btn-help">求助中</button>
                  </div>
                  <!-- /.user-block -->
                  <div class="content-block">
                    <p class="question">阿弥陀佛！请教下大家：1.部件“八”是否可用作初步拆分？2.相似部件可否用“半”?</p>
                    <div class="products-list product-list-in-box">
                      <div class="item">
                        <div class="product-img">
                          <img src="../img/font-img6.png" alt="Product Image">
                        </div>
                        <div class="product-info">
                          <p>
                            <span class="product-description"><em>初步拆分一：</em><em>⿰⿰亻丨⿱厶夫</em></span>
                            <span class="product-description"><em>初步拆分二：</em><em>⿰⿰亻丨⿱厶夫</em></span>
                          </p>
                          <span class="product-description"><em>相似部件：</em><em>夫</em></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ul class="list-inline">
                    <li><a href="#" class="link-black text-sm"><i class="icon-del"></i>彻底删除</a></li>
                    <li><a href="#" class="link-black text-sm"><i class="icon-back"></i>还原</a></li>
                  </ul>
                </div>
                <!-- /.post -->
                <div class="box-footer clearfix">
                  <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">»</a></li>
                  </ul>
               </div>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="split">

              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="input">

              </div>
              <!-- /.tab-pane -->
              <!-- /.tab-pane -->
              <div class="tab-pane" id="dedup">

              </div>
              <!-- /.tab-pane -->

            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
      </div>
{% endblock %}