{% extends "m2_base.html" %}

{% block content %}
	<!-- Content Header-->
      <div class="content-header">
        <ol class="breadcrumb">
          <li><a href="javascript:;">字库检索</a></li>
          <li class="active">高台去重库</li>
        </ol>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <!-- /.box-header -->
            <div class="box-header">
              <div class="box-header-inner">
                <div class="ser-bd">
                  <div class="z-ser z2-ser">
                    <div class="col col-md-4 col-sm-6 col-xs-12">
                      <div class="input-group">
                        <span class="input-group-addon">高丽图片字:</span>
                        <input type="text" class="form-control" placeholder="请输入图片字编码">
                      </div>
                    </div>
                    <div class="col col-md-4 col-sm-6 col-xs-12">
                      <div class="input-group">
                        <span class="input-group-addon">重复台湾异体字编码:</span>
                        <input type="text" class="form-control" placeholder="请输入">
                      </div>
                    </div>
                    <div class="col col-md-4 col-sm-6 col-xs-12">
                      <div class="input-group">
                        <span class="input-group-addon">所属正字:</span>
                        <input type="text" class="form-control" placeholder="请输入">
                      </div>
                    </div>
                    <div class="col col-md-4 col-sm-6 col-xs-12">
                      <div class="input-group">
                        <span class="input-group-addon">初次=回查:</span>
                        <input type="text" class="form-control" placeholder="请输入">
                      </div>
                    </div>
                    <div class="col col-md-4 col-sm-6 col-xs-12">
                      <div class="input-group">
                        <span class="input-group-addon">是否审核:</span>
                        <input type="text" class="form-control" placeholder="请输入">
                      </div>
                    </div>
                    <div class="col col-md-4 col-sm-6 col-xs-12">
                      <div class="input-group">
                        <span class="input-group-addon">回查＝审查:</span>
                        <input type="text" class="form-control" placeholder="请输入">
                      </div>
                    </div>
                    <div class="col col-md-4 col-sm-6 col-xs-12">
                      <div class="input-group">
                        <span class="input-group-addon">是否入库:</span>
                        <input type="text" class="form-control" placeholder="请输入">
                      </div>
                    </div>
                    <div class="col col-md-4 col-sm-6 col-xs-12">
                      <div class="input-group">
                        <span class="input-group-addon">更新时段:</span>
                        <i class="fa fa-calendar"></i>
                        <input type="text" class="form-control pull-right" id="reservationtime">
                      </div>
                    </div>
                  </div>
                  <div class="btns">
                    <button class="btn btn-primary btn-sm z-btn-sm">搜索</button>
                    <button class="btn btn-default btn-sm z-btn-sm z-reset">重置</button>
                    <a class="more"><span>更多搜索</span><i class="icon-down-arrow"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="sel-more"><a class="sel-more-btn show-layer" data-show-layer="hw-layer" role="button">+ 多选</a></div>
            <div class="box-body table-responsive">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>序号</th>
                  <th>高丽图片字</th>
                  <th>重复台湾字/初次</th>
                  <th>重复台湾字/回次</th>
                  <th>重复台湾字/审查</th>
                  <th>所属正字</th>
                  <th>初次=回查</th>
                  <th>回查=审查</th>
                  <th>是否审核</th>
                  <th>是否入库</th>
                  <th>更新时间</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>1</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><a href="#">查看</a></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><a href="#">查看</a></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><a href="#">查看</a></td>
                </tr>
                </tbody>
              </table>
            </div><!-- /.box-body -->
            <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">»</a></li>
              </ul>
            </div>
          </div><!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!--遮罩层-->
      <div class="hw-overlay" id="hw-layer">
        <div class="hw-layer-wrap">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="checkboxs">
                <label><input type="checkbox">高丽图片字</label>
                <label><input type="checkbox" checked="checked">重复台湾字/初次</label>
                <label><input type="checkbox" checked="checked">重复台湾字/初次</label>
                <label><input type="checkbox">重复台湾字/初次</label>
                <label><input type="checkbox" checked="checked">初次=回查</label>
                <label><input type="checkbox" checked="checked">回查=审查</label>
                <label><input type="checkbox">是否审核</label>
                <label><input type="checkbox" checked="checked">是否入库</label>
                <label><input type="checkbox" checked="checked">更新时段</label>
              </div>
              <div class="btns">
                <button class="btn btn-primary btn-sm z-btn-sm hwLayer-ok">确定</button>
                <button class="btn btn-default btn-sm z-btn-sm z-reset hwLayer-cancel">取消</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/.遮罩层-->
{% endblock %}