{% extends "m2_base.html" %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-left">
                <li class="active"><a href="#lqzk" data-toggle="tab">龙泉字库</a></li>
                <li><a href="#ytz" data-toggle="tab">异体字拆字</a></li>
                <li><a href="#gt" data-toggle="tab">高丽台湾异体字去重</a></li>
                <li><a href="#gl" data-toggle="tab">高丽异体字去重</a></li>
                <li><a href="#lr" data-toggle="tab">异体字录入</a></li>
            </ul>
            <div class="tab-content">
                <div class="active tab-pane" id="lqzk">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-header">
                            <div class="box-header-inner">
                                <div class="ser-bd">
                                    <div class="ser-left z2-ser-left">
                                        <div class="input-group">
                                            <span class="input-group-addon">来源:</span>
                                            <!-- select -->
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option>台湾异体字</option>
                                                    <option>台湾异体字</option>
                                                    <option>台湾异体字</option>
                                                    <option>台湾异体字</option>
                                                    <option>台湾异体字</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">字形类型:</span>
                                            <!-- select -->
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option>文字</option>
                                                    <option>文字</option>
                                                    <option>文字</option>
                                                    <option>文字</option>
                                                    <option>文字</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">文字:</span>
                                            <input type="text" class="form-control" placeholder="文字">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">字形编码:</span>
                                            <input type="text" class="form-control" placeholder="字形编码">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">正异类型:</span>
                                            <!-- select -->
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option>正字</option>
                                                    <option>正字</option>
                                                    <option>正字</option>
                                                    <option>正字</option>
                                                    <option>正字</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">所属正字:</span>
                                            <input type="text" class="form-control" placeholder="所属正字">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">笔画:</span>
                                            <input type="text" class="form-control" placeholder="笔画">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">重复次数:</span>
                                            <input type="text" class="form-control" placeholder="重复次数">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">重复编码:</span>
                                            <input type="text" class="form-control" placeholder="重复编码">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">拆分信息:</span>
                                            <input type="text" class="form-control" placeholder="拆分信息">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">相似部件:</span>
                                            <input type="text" class="form-control" placeholder="相似部件">
                                        </div>
                                    </div>
                                    <div class="z-btns z2-btns">
                                        <button class="btn btn-primary btn-sm z-btn-sm">查询</button>
                                        <button class="btn btn-default btn-sm z-btn-sm z-reset">重置</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th style="width: 43px">序号</th>
                                    <th>来源</th>
                                    <th>文字</th>
                                    <th>图片字</th>
                                    <th>正异类型</th>
                                    <th>所属正字</th>
                                    <th>笔画</th>
                                    <th>重复编码</th>
                                    <th>拆分信息</th>
                                    <th>相似部件</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>台湾异体字</td>
                                    <td></td>
                                    <td></td>
                                    <td>狭义异体字</td>
                                    <td>初次拆分</td>
                                    <td>6</td>
                                    <td>f0032</td>
                                    <td></td>
                                    <td></td>
                                    <td><a href="#">查看</a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>台湾异体字</td>
                                    <td></td>
                                    <td></td>
                                    <td>狭义异体字</td>
                                    <td>初次拆分</td>
                                    <td>6</td>
                                    <td>f0032</td>
                                    <td></td>
                                    <td></td>
                                    <td><a href="#">查看</a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>台湾异体字</td>
                                    <td></td>
                                    <td></td>
                                    <td>狭义异体字</td>
                                    <td>初次拆分</td>
                                    <td>6</td>
                                    <td>f0032</td>
                                    <td></td>
                                    <td></td>
                                    <td><a href="#">查看</a></td>
                                </tr>
                                </tbody>

                            </table>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="ytz">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-header">
                            <div class="box-header-inner">
                                <div class="ser-bd">
                                    <div class="ser-left z2-ser-left">
                                        <div class="input-group">
                                            <span class="input-group-addon">文字:</span>
                                            <input type="text" class="form-control" placeholder="文字">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">图片字编码:</span>
                                            <input type="text" class="form-control" placeholder="图片字编码">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">来源:</span>
                                            <!-- select -->
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option>台湾异体字字典</option>
                                                    <option>台湾异体字字典</option>
                                                    <option>台湾异体字字典</option>
                                                    <option>台湾异体字字典</option>
                                                    <option>台湾异体字字典</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">阶段:</span>
                                            <!-- select -->
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option>初次</option>
                                                    <option>初次</option>
                                                    <option>初次</option>
                                                    <option>初次</option>
                                                    <option>初次</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">拆分信息:</span>
                                            <input type="text" class="form-control" placeholder="拆分信息">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">相似部件:</span>
                                            <input type="text" class="form-control" placeholder="相似部件">
                                        </div>
                                    </div>
                                    <div class="z-btns z2-btns">
                                        <button class="btn btn-primary btn-sm z-btn-sm">查询</button>
                                        <button class="btn btn-default btn-sm z-btn-sm z-reset">重置</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th style="width: 43px">序号</th>
                                    <th>文字</th>
                                    <th>图片字</th>
                                    <th>来源</th>
                                    <th>阶段</th>
                                    <th>是否难字</th>
                                    <th>拆分信息</th>
                                    <th>相似部件</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td></td>
                                    <td></td>
                                    <td>台湾异体字</td>
                                    <td>初次</td>
                                    <td>否</td>
                                    <td></td>
                                    <td></td>
                                    <td><a href="#">查看</a></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td></td>
                                    <td></td>
                                    <td>台湾异体字</td>
                                    <td>初次</td>
                                    <td>否</td>
                                    <td></td>
                                    <td></td>
                                    <td><a href="#">查看</a></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td></td>
                                    <td></td>
                                    <td>台湾异体字</td>
                                    <td>初次</td>
                                    <td>否</td>
                                    <td></td>
                                    <td></td>
                                    <td><a href="#">查看</a></td>
                                </tr>
                                </tbody>

                            </table>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="gt">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-header">
                            <div class="box-header-inner">
                                <div class="ser-bd">
                                    <div class="ser-left z2-ser-left">
                                        <div class="input-group">
                                            <span class="input-group-addon">台湾异体字:</span>
                                            <input type="text" class="form-control" placeholder="台湾异体字">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">高丽异体字:</span>
                                            <input type="text" class="form-control" placeholder="高丽异体字">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">阶段:</span>
                                            <!-- select -->
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option>初次</option>
                                                    <option>初次</option>
                                                    <option>初次</option>
                                                    <option>初次</option>
                                                    <option>初次</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="z-btns z2-btns">
                                        <button class="btn btn-primary btn-sm z-btn-sm">查询</button>
                                        <button class="btn btn-default btn-sm z-btn-sm z-reset">重置</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th style="width: 43px">序号</th>
                                    <th>台湾异体字</th>
                                    <th>高丽异体字</th>
                                    <th>阶段</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td></td>
                                    <td></td>
                                    <td>初次</td>
                                    <td><a href="#">查看</a></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td></td>
                                    <td></td>
                                    <td>初次</td>
                                    <td><a href="#">查看</a></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td></td>
                                    <td></td>
                                    <td>初次</td>
                                    <td><a href="#">查看</a></td>
                                </tr>
                                </tbody>

                            </table>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="gl">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-header">
                            <div class="box-header-inner">
                                <div class="ser-bd">
                                    <div class="ser-left z2-ser-left">
                                        <div class="input-group">
                                            <span class="input-group-addon">台湾异体字:</span>
                                            <input type="text" class="form-control" placeholder="请输入文字或图片字编号">
                                        </div>
                                    </div>
                                    <div class="z-btns z2-btns">
                                        <button class="btn btn-primary btn-sm z-btn-sm">查询</button>
                                        <!--<button class="btn btn-default btn-sm z-btn-sm z-reset">重置</button>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="z-addItem">
                                <button class="btn btn-default pull-left"><i class="fa fa-plus"></i> 新增</button>
                            </div>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th style="width: 43px">序号</th>
                                    <th>台湾异体字</th>
                                    <th>高丽异体字</th>
                                    <th>阶段</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td></td>
                                    <td></td>
                                    <td>初次</td>
                                    <td><a href="#">修改</a>&nbsp;<a href="#">删除</a></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td></td>
                                    <td></td>
                                    <td>初次</td>
                                    <td><a href="#">修改</a>&nbsp;<a href="#">删除</a></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td></td>
                                    <td></td>
                                    <td>初次</td>
                                    <td><a href="#">修改</a>&nbsp;<a href="#">删除</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="lr">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-header">
                            <div class="box-header-inner">
                                <div class="ser-bd">
                                    <div class="ser-left z2-ser-left">
                                        <div class="input-group">
                                            <span class="input-group-addon">字头:</span>
                                            <input type="text" class="form-control" placeholder="字头">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">页码:</span>
                                            <input type="text" class="form-control" placeholder="页码">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">阶段:</span>
                                            <!-- select -->
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option>初次</option>
                                                    <option>初次</option>
                                                    <option>初次</option>
                                                    <option>初次</option>
                                                    <option>初次</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">类型:</span>
                                            <!-- select -->
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option>狭义异体字</option>
                                                    <option>狭义异体字</option>
                                                    <option>狭义异体字</option>
                                                    <option>狭义异体字</option>
                                                    <option>狭义异体字</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="z-btns z2-btns">
                                        <button class="btn btn-primary btn-sm z-btn-sm">查询</button>
                                        <button class="btn btn-default btn-sm z-btn-sm z-reset">重置</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th style="width: 43px">序号</th>
                                    <th>页码</th>
                                    <th>位置</th>
                                    <th>字头</th>
                                    <th>类型</th>
                                    <th>通行字</th>
                                    <th>备注</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td></td>
                                    <td>狭义异体字</td>
                                    <td></td>
                                    <td>初次</td>
                                    <td><a href="#">查看</a></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td></td>
                                    <td>狭义异体字</td>
                                    <td></td>
                                    <td>初次</td>
                                    <td><a href="#">查看</a></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td></td>
                                    <td>狭义异体字</td>
                                    <td></td>
                                    <td>初次</td>
                                    <td><a href="#">查看</a></td>
                                </tr>
                                </tbody>

                            </table>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->
    </div>
</div>
{% endblock %}