{% extends "m2_base.html" %}

{% block content %}
  <div class="content-header">
        <ol class="breadcrumb">
          <li><a href="javascript:;">字库检索</a></li>
          <li>龙泉字库</li>
          <li class="active">f024e</li>
        </ol>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box box-widget">
            <!-- /.box-header -->
            <div class="box-header">
                <p class="img-detail"><img src="../img/font-img5.jpg" alt=""></p>
            </div>
            <div class="box-body table-responsive">
                <div class="infos-box base-info">
                  <div class="z1-info">
                    <h3 class="box-title">基本信息</h3>
                  </div>
                  <ul class="infos">
                    <li>
                      <p><span>来源:</span><span>台湾异体字</span></p>
                      <p><span>正异类型:</span><span>狭义异体字</span></p>
                      <p><span>位置编码:</span><span>A00015-014</span></p>
                      <p><span>部首:</span><span>一</span></p>
                      <p><span>郑码:</span><span></span></p>
                    </li>
                    <li>
                      <p><span>图片字编码:</span><span>f0e34</span></p>
                      <p><span>所属正字:</span><span>丘</span></p>
                      <p><span>拼音:</span><span>qiu<em>1</em></span></p>
                      <p><span>笔画:</span><span>6</span></p>
                      <p><span>五笔:</span><span></span></p>
                    </li>
                  </ul>
                </div>
              <div class="infos-box base-info">
                <div class="z1-info">
                  <h3 class="box-title">拆字信息</h3>
                </div>
                <ul class="infos">
                  <li>
                    <p><span>太难跳过次数:</span><span>4</span></p>
                    <p><span>调笔拆分:</span><span>狭义异体字</span></p>
                    <p><span>混合拆分:</span><span>⿱一丘</span></p>
                    <p><span>部件序列:</span><span>一丘</span></p>
                  </li>
                  <li>
                    <p><span>初步拆分:</span><span>⿱一丘</span></p>
                    <p><span>最大拆分:</span><span>⿱一丘</span></p>
                    <p><span>相似部件:</span><span></span></p>
                    <p><span>笔画:</span><span>6</span></p>
                  </li>
                </ul>
              </div>
              <div class="infos-box base-info">
                <div class="z1-info">
                  <h3 class="box-title">去重信息</h3>
                </div>
                <ul class="infos">
                  <li>
                    <p><span>重复次数:</span><span>4</span></p>
                    <p><span class="fb">字典间去重</span></p>
                    <p><span>重复编码:</span><span>A00015-014</span></p>
                    <p><span class="fb">高丽内去重</span></p>
                    <p><span>重复编码:</span><span>A00015-014</span></p>
                  </li>
                  <li>
                    <p></p>
                    <p></p>
                    <p><span>是否多余:</span><span>否</span></p>
                    <p></p>
                    <p><span>是否多余:</span><span>否</span></p>
                  </li>
                </ul>
              </div>
              <div class="infos-box base-info">
                <div class="z1-info">
                  <h3 class="box-title">时间信息</h3>
                </div>
                <ul class="infos">
                  <li>
                    <p><span>入库时间:</span><span>2016/10/12  22:34:16</span></p>
                  </li>
                  <li>
                    <p><span>更新时间:</span><span>2016/10/12  22:34:16</span></p>
                  </li>
                </ul>
              </div>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
{% endblock %}