{% extends "m2_base.html" %}

{% block content %}
<div class="content-header">
    <ol class="breadcrumb">
      <li><a href="javascript:;">我的任务</a></li>
      <li class="active">领任务</li>
    </ol>
</div>
<div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-body">
          <div class="task-item">
            <div class="task-name fl">任务类型：</div>
            <div class="radio fl">
              <label><input type="radio" name="r1" checked="checked" class="minimal">拆字</label>
              <label><input type="radio" name="r1">录入</label>
              <label><input type="radio" name="r1" class="minimal">去重</label>
            </div>
          </div>
          <div class="task-item">
            <div class="task-name fl">任务阶段：</div>
            <div class="radio fl">
              <label><input type="radio" name="r2"checked="checked">初次</label>
              <label><input type="radio" name="r2">回查</label>
              <label><input type="radio" name="r2" class="minimal">审查</label>
            </div>
          </div>
          <div class="task-item">
            <div class="task-name fl">任务包大小：</div>
            <div class="radio flr">
              <label><input type="radio" name="r3"checked="checked">100字</label>
              <label><input type="radio" name="r3">200字</label>
              <label><input type="radio" name="r3" class="minimal">500字</label>
              <label><input type="radio" name="r3" class="minimal">1000字</label>
            </div>
          </div>
          <div class="task-item">
            <div class="task-name fl">每日计划：</div>
            <div class="radio fl">
              <label><input type="radio" name="r4" checked="checked">5字</label>
              <label><input type="radio" name="r4">10字</label>
              <label><input type="radio" name="r4">15字</label>
              <label><input type="radio" name="r4">20字</label>
              <label><input type="radio" name="r4">其它&nbsp;&nbsp;<input class="z-other" type="text" placeholder="请输入5的倍数"></label>
            </div>
          </div>
          <div class="z-btns">
            <button class="btn btn-default btn-sm">取消</button>
            <button class="btn btn-primary btn-sm">领取</button>
          </div>
          <div class="z-tip">
            <p>温馨提示：</p>
            <p>1.请您慎重选择每日计划;</p>
            <p>2.如果有必要，您也可以在任务进行中修改计划;</p>
          </div>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div>
<!-- /.col -->
</div>
{% endblock %}