{% extends "registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
 <div class="login-box-body">
        <p class="login-box-msg">{% trans "Successfully logged out" %}~</p>
        <div class="social-auth-links text-center">
        {% blocktrans %}
        We have sent you an email with a link to reset your password. Please check
        your email and click the link to continue.
        {% endblocktrans %}
        </div>
        <!-- /.social-auth-links -->
    </div>
{% endblock %}

{% comment %}

# This is used by django.contrib.auth #

{% endcomment %}