{% extends "registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
<div class="register-box-body">
        <p class="login-box-msg">注册新账户，开启新生活</p>

        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="注册账户名称">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="email" class="form-control" placeholder="邮箱或手机号码">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="登陆密码">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="再次输入登陆密码">
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox"> 我完全同意 <a href="#">注册协议</a>
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">{% trans 'Submit' %}</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <a href="login.html" class="text-center">我已经有账户，需要登陆</a>
    </div>
{% endblock %}

{% comment %}
**registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/zen/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}