{% extends "m2_base.html" %}

{% block content %}
<div class="content-header">
    <ol class="breadcrumb">
      <li><a href="javascript:;">我的任务</a></li>
      <li>任务包</li>
      <li class="active">004</li>
    </ol>
</div>
<div class="row">
    <div class="col-xs-12">
      <div class="box box-blue">
        <!-- /.box-header -->
        <div class="box-header">
          <div class="box-header-inner">
            <div class="ser-bd">
              <div class="z-ser">
                <div class="col-md-3 col-sm-4 col-xs-6">
                  <div class="input-group">
                    <span class="input-group-addon">字头:</span>
                    <input type="text" class="form-control" placeholder="字头">
                  </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                  <div class="input-group">
                    <span class="input-group-addon">类型:</span>
                    <!-- select -->
                    <div class="form-group">
                      <select class="form-control">
                        <option>狭义</option>
                        <option>狭义</option>
                        <option>狭义</option>
                        <option>狭义</option>
                        <option>狭义</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                  <div class="input-group">
                    <span class="input-group-addon">页码:</span>
                    <input type="text" class="form-control" placeholder="页码">
                  </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                  <div class="input-group">
                    <span class="input-group-addon">备注:</span>
                    <input type="text" class="form-control" placeholder="备注">
                  </div>
                </div>
              </div>
              <div class="btns">
                <button class="btn btn-blue btn-sm z-btn-sm">搜索</button>
                <button class="btn btn-default btn-sm z-btn-sm z-reset">重置</button>
              </div>
            </div>
          </div>
        </div>
        <div class="box-body table-responsive">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>序号</th>
              <th>字头</th>
              <th>页码</th>
              <th>位置</th>
              <th>类型</th>
              <th>通形字</th>
              <th>备注</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td>戊</td>
              <td>10</td>
              <td>2</td>
              <td>狭义</td>
              <td></td>
              <td></td>
              <td><a href="#">查看</a></td>
            </tr>
            <tr>
              <td>2</td>
              <td>戊</td>
              <td>10</td>
              <td>2</td>
              <td>狭义</td>
              <td></td>
              <td></td>
              <td><a href="#">查看</a></td>
            </tr>
            <tr>
              <td>3</td>
              <td>与</td>
              <td>10</td>
              <td>2</td>
              <td>狭义异体字</td>
              <td>與</td>
              <td></td>
              <td><a href="#">查看</a></td>
            </tr>
            <tr>
              <td>4</td>
              <td>𡕒</td>
              <td>10</td>
              <td>2</td>
              <td>@</td>
              <td></td>
              <td></td>
              <td><a href="#">查看</a></td>
            </tr>
            </tbody>
          </table>
        </div><!-- /.box-body -->
        <div class="box-footer clearfix">
          <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">»</a></li>
          </ul>
        </div>
      </div><!-- /.box -->
    </div>
<!-- /.col -->
</div>
{% endblock %}