{% extends "m2_base.html" %}

{% block content %}
	<div class="content-header">
        <ol class="breadcrumb">
          <li><a href="javascript:;">我的任务</a></li>
          <li class="active">拆字</li>
        </ol>
      </div>
      <div class="row">
          <div class="col-md-7">
            <div class="box box-blue">
              <!-- /.box-header -->
              <div class="box-header">
                <div class="split-top">
                  <div class="header-img pull-left">
                    <div class="zi">
                      <div class="single-zi">庆</div>
                    </div>
                  </div>
                  <div class="hanzi-info pull-left">
                    <p class="hanzi-origin">来源：<em>台湾异体字字典</em></p>
                    <p class="hanzi-code">编码：<a href="#">A00109-001</a></p>
                  </div>
                </div>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th></th>
                      <th>
                        <div class="checkbox">
                          <label><input type="checkbox">初次</label>
                        </div>
                      </th>
                      <th>
                        <div class="checkbox">
                          <label><input type="checkbox">回查</label>
                        </div>
                      </th>
                      <th>
                        <div class="checkbox">
                          <!--如果无权限，则为不可选 disabled-->
                          <label><input type="checkbox" disabled="disabled">审查</label>
                        </div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th>重复值</th>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>初步拆分一</th>
                    <td>⿰⿰亻丨⿱厶夫</td>
                    <td>⿰⿰亻丨⿱厶夫</td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>初步拆分二</th>
                    <td>⿰⿰亻丨⿱厶夫</td>
                    <td>⿰⿰亻丨⿱厶夫</td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>调笔拆分</th>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th>相似部件</th>
                    <td>小</td>
                    <td>小</td>
                    <td></td>
                  </tr>
                  </tbody>
                </table>
                <div class="btn-group btns-tr split-btns pull-right">
                  <button class="btn btn-blue btn-sm z-btn-sm">存疑提交</button>
                  <button class="btn btn-blue btn-sm z-btn-sm">下一页</button>
                  <button class="btn btn-blue btn-sm z-btn-sm">太难跳过</button>
                </div>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <div class="col-md-5">
            <div class="box box-blue ">
              <div class="box-body">
                <!--结构-->
                <div class="composition">
                  结构：
                  <span>⿰</span>
                  <span>⿱</span>
                  <span>⿴</span>
                  <span>⿵</span>
                  <span>⿶</span>
                  <span>⿷</span>
                  <span>⿸</span>
                  <span>⿹</span>
                  <span>⿺</span>
                  <span>⿻</span>
                  <i class="icon-query"></i>
                </div>
                <!--部件-->
                <div class="input-group add-on">
                  <span class="input-group-addon">部件：</span>
                  <input type="text" class="form-control" placeholder="请输入笔画及笔顺">
                </div>
                <!--结果-->
                <div class="output">
                  <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs pull-left">
                      <li class="active"><a href="#all" data-toggle="tab">All</a></li>
                      <li><a href="#one" data-toggle="tab">1</a></li>
                      <li><a href="#two" data-toggle="tab">2</a></li>
                      <li><a href="#three" data-toggle="tab">3</a></li>
                      <li><a href="#four" data-toggle="tab">4</a></li>
                      <li><a href="#five" data-toggle="tab">5</a></li>
                      <li><a href="#six" data-toggle="tab">6</a></li>
                      <li><a href="#seven" data-toggle="tab">7</a></li>
                      <li><a href="#eight" data-toggle="tab">8</a></li>
                      <li><a href="#nine" data-toggle="tab">9</a></li>
                      <li><a href="#ten" data-toggle="tab">10</a></li>
                      <li><a href="#eleven" data-toggle="tab">11</a></li>
                      <li><a href="#twelve" data-toggle="tab">12</a></li>
                      <li><a href="#thirteen" data-toggle="tab">13</a></li>
                      <li><a href="#fourteen" data-toggle="tab">14</a></li>
                      <li><a href="#fifteen" data-toggle="tab">15</a></li>
                      <li><a href="#sixteen" data-toggle="tab">16</a></li>
                      <li><a href="#seveteen" data-toggle="tab">17</a></li>
                    </ul>
                    <div class="tab-content">
                      <div class="active tab-pane" id="all">
                        <span class="stock-item">1</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丿</span>
                        <span class="component-item">乀</span>
                        <span class="component-item">⺄</span>
                        <span class="component-item">㇀</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                        <span class="component-item">𠄌</span>
                        <span class="component-item">𡿨</span>
                        <span class="component-item">乙</span>
                        <span class="component-item">𠃉</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                        <span class="component-item">𠄌</span>
                        <span class="component-item">𡿨</span>
                        <span class="component-item">乙</span>
                        <span class="component-item">𠃉</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                        <span class="component-item">𠄌</span>
                        <span class="component-item">𡿨</span>
                        <span class="component-item">乙</span>
                        <span class="component-item">𠃉</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                        <span class="component-item">𠄌</span>
                        <span class="component-item">𡿨</span>
                        <span class="component-item">乙</span>
                        <span class="component-item">𠃉</span>
                        <span class="stock-item">2</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丿</span>
                        <span class="component-item">乀</span>
                        <span class="component-item">⺄</span>
                        <span class="component-item">㇀</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                        <span class="component-item">𠄌</span>
                        <span class="component-item">𡿨</span>
                        <span class="component-item">乙</span>
                        <span class="component-item">𠃉</span>
                        <span class="stock-item">3</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丿</span>
                        <span class="component-item">乀</span>
                        <span class="component-item">⺄</span>
                        <span class="component-item">㇀</span>
                        <span class="component-item">㇇</span>
                        <span class="stock-item">4</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丿</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丿</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丿</span>
                        <span class="stock-item">5</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丿</span>
                        <span class="component-item">乀</span>
                        <span class="component-item">⺄</span>
                        <span class="component-item">㇀</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丿</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丿</span>
                        <span class="stock-item">6</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                        <span class="component-item">𠄌</span>
                        <span class="component-item">𡿨</span>
                        <span class="component-item">乙</span>
                        <span class="component-item">𠃉</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丿</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丿</span>
                        <span class="stock-item">7</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丿</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丿</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丿</span>
                        <span class="stock-item">8</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丿</span>
                        <span class="component-item">乀</span>
                        <span class="component-item">乙</span>
                        <span class="component-item">𠃉</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丿</span>
                        <span class="stock-item">9</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丿</span>
                        <span class="stock-item">10</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丿</span>
                        <span class="component-item">乀</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丿</span>
                        <span class="stock-item">11</span>
                        <span class="component-item">乀</span>
                        <span class="component-item">乙</span>
                        <span class="component-item">𠃉</span>
                        <span class="stock-item">12</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丿</span>
                        <span class="stock-item">13</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丿</span>
                        <span class="stock-item">14</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="stock-item">15</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">𠃉</span>
                        <span class="stock-item">16</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="stock-item">17</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                      </div>
                      <!-- /.tab-pane -->
                      <div class="tab-pane" id="one">
                        <span class="stock-item">1</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丿</span>
                        <span class="component-item">乀</span>
                        <span class="component-item">⺄</span>
                        <span class="component-item">㇀</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                        <span class="component-item">𠄌</span>
                        <span class="component-item">𡿨</span>
                        <span class="component-item">乙</span>
                        <span class="component-item">𠃉</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                        <span class="component-item">𠄌</span>
                        <span class="component-item">𡿨</span>
                        <span class="component-item">乙</span>
                        <span class="component-item">𠃉</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                        <span class="component-item">𠄌</span>
                        <span class="component-item">𡿨</span>
                        <span class="component-item">乙</span>
                        <span class="component-item">𠃉</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                        <span class="component-item">𠄌</span>
                        <span class="component-item">𡿨</span>
                        <span class="component-item">乙</span>
                        <span class="component-item">𠃉</span>
                      </div>
                      <!-- /.tab-pane -->
                      <div class="tab-pane" id="two">
                        <span class="stock-item">2</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丿</span>
                        <span class="component-item">乀</span>
                        <span class="component-item">⺄</span>
                        <span class="component-item">㇀</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                        <span class="component-item">𠄌</span>
                        <span class="component-item">𡿨</span>
                        <span class="component-item">乙</span>
                        <span class="component-item">𠃉</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                      </div>
                      <!-- /.tab-pane -->
                      <div class="tab-pane" id="three">
                        <span class="stock-item">3</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丿</span>
                        <span class="component-item">乀</span>
                        <span class="component-item">⺄</span>
                        <span class="component-item">㇀</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                        <span class="component-item">𠄌</span>
                        <span class="component-item">𡿨</span>
                        <span class="component-item">乙</span>
                        <span class="component-item">𠃉</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                      </div>
                      <!-- /.tab-pane -->
                      <div class="tab-pane" id="four">
                        <span class="stock-item">4</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丿</span>
                        <span class="component-item">乀</span>
                        <span class="component-item">⺄</span>
                        <span class="component-item">㇀</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                        <span class="component-item">𠄌</span>
                        <span class="component-item">𡿨</span>
                        <span class="component-item">乙</span>
                        <span class="component-item">𠃉</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                      </div>
                      <!-- /.tab-pane -->
                      <div class="tab-pane" id="five">
                        <span class="stock-item">5</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丿</span>
                        <span class="component-item">乀</span>
                        <span class="component-item">⺄</span>
                        <span class="component-item">㇀</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                        <span class="component-item">𠄌</span>
                        <span class="component-item">𡿨</span>
                        <span class="component-item">乙</span>
                        <span class="component-item">𠃉</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                      </div>
                      <!-- /.tab-pane -->
                      <div class="tab-pane" id="six">
                        <span class="stock-item">6</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丿</span>
                        <span class="component-item">乀</span>
                        <span class="component-item">⺄</span>
                        <span class="component-item">㇀</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                        <span class="component-item">𠄌</span>
                        <span class="component-item">𡿨</span>
                        <span class="component-item">乙</span>
                        <span class="component-item">𠃉</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                      </div>
                      <!-- /.tab-pane -->
                      <div class="tab-pane" id="seven">
                        <span class="stock-item">7</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丿</span>
                        <span class="component-item">乀</span>
                        <span class="component-item">⺄</span>
                        <span class="component-item">㇀</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                        <span class="component-item">𠄌</span>
                        <span class="component-item">𡿨</span>
                        <span class="component-item">乙</span>
                        <span class="component-item">𠃉</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                      </div>
                      <!-- /.tab-pane -->
                      <div class="tab-pane" id="eight">
                        <span class="stock-item">8</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丿</span>
                        <span class="component-item">乀</span>
                        <span class="component-item">⺄</span>
                        <span class="component-item">㇀</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                        <span class="component-item">𠄌</span>
                        <span class="component-item">𡿨</span>
                        <span class="component-item">乙</span>
                        <span class="component-item">𠃉</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                      </div>
                      <!-- /.tab-pane -->
                      <div class="tab-pane" id="nine">
                        <span class="stock-item">9</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丿</span>
                        <span class="component-item">乀</span>
                        <span class="component-item">⺄</span>
                        <span class="component-item">㇀</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                        <span class="component-item">𠄌</span>
                        <span class="component-item">𡿨</span>
                        <span class="component-item">乙</span>
                        <span class="component-item">𠃉</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                      </div>
                      <!-- /.tab-pane -->
                      <div class="tab-pane" id="ten">
                        <span class="stock-item">10</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丿</span>
                        <span class="component-item">乀</span>
                        <span class="component-item">⺄</span>
                        <span class="component-item">㇀</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                        <span class="component-item">𠄌</span>
                        <span class="component-item">𡿨</span>
                        <span class="component-item">乙</span>
                        <span class="component-item">𠃉</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                      </div>
                      <!-- /.tab-pane -->
                      <div class="tab-pane" id="eleven">
                        <span class="stock-item">11</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丿</span>
                        <span class="component-item">乀</span>
                        <span class="component-item">⺄</span>
                        <span class="component-item">㇀</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                        <span class="component-item">𠄌</span>
                        <span class="component-item">𡿨</span>
                        <span class="component-item">乙</span>
                        <span class="component-item">𠃉</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                      </div>
                      <!-- /.tab-pane -->
                      <div class="tab-pane" id="twelve">
                        <span class="stock-item">12</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丿</span>
                        <span class="component-item">乀</span>
                        <span class="component-item">⺄</span>
                        <span class="component-item">㇀</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                        <span class="component-item">𠄌</span>
                        <span class="component-item">𡿨</span>
                        <span class="component-item">乙</span>
                        <span class="component-item">𠃉</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                      </div>
                      <!-- /.tab-pane -->
                      <div class="tab-pane" id="thirteen">
                        <span class="stock-item">13</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丿</span>
                        <span class="component-item">乀</span>
                        <span class="component-item">⺄</span>
                        <span class="component-item">㇀</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                        <span class="component-item">𠄌</span>
                        <span class="component-item">𡿨</span>
                        <span class="component-item">乙</span>
                        <span class="component-item">𠃉</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                      </div>
                      <!-- /.tab-pane -->
                      <div class="tab-pane" id="fourteen">
                        <span class="stock-item">14</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丿</span>
                        <span class="component-item">乀</span>
                        <span class="component-item">⺄</span>
                        <span class="component-item">㇀</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                        <span class="component-item">𠄌</span>
                        <span class="component-item">𡿨</span>
                        <span class="component-item">乙</span>
                        <span class="component-item">𠃉</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                      </div>
                      <!-- /.tab-pane -->
                      <div class="tab-pane" id="fifteen">
                        <span class="stock-item">15</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丿</span>
                        <span class="component-item">乀</span>
                        <span class="component-item">⺄</span>
                        <span class="component-item">㇀</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                        <span class="component-item">𠄌</span>
                        <span class="component-item">𡿨</span>
                        <span class="component-item">乙</span>
                        <span class="component-item">𠃉</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                      </div>
                      <!-- /.tab-pane -->
                      <div class="tab-pane" id="sixteen">
                        <span class="stock-item">16</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丿</span>
                        <span class="component-item">乀</span>
                        <span class="component-item">⺄</span>
                        <span class="component-item">㇀</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                        <span class="component-item">𠄌</span>
                        <span class="component-item">𡿨</span>
                        <span class="component-item">乙</span>
                        <span class="component-item">𠃉</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                      </div>
                      <!-- /.tab-pane -->
                      <div class="tab-pane" id="seveteen">
                        <span class="stock-item">17</span>
                        <span class="component-item">丶</span>
                        <span class="component-item">一</span>
                        <span class="component-item">丨</span>
                        <span class="component-item">丿</span>
                        <span class="component-item">乀</span>
                        <span class="component-item">⺄</span>
                        <span class="component-item">㇀</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                        <span class="component-item">𠄌</span>
                        <span class="component-item">𡿨</span>
                        <span class="component-item">乙</span>
                        <span class="component-item">𠃉</span>
                        <span class="component-item">㇇</span>
                        <span class="component-item">㇉</span>
                        <span class="component-item">𠃌</span>
                        <span class="component-item">亅</span>
                      </div>
                      <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
{% endblock %}