{% extends "m2_base.html" %}

{% block content %}
    <!-- Content Header-->
    <div class="content-header">
        <ol class="breadcrumb">
            <li>我的任务</li>
            <li>任务包</li>
            <li class="active">去重查看</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-blue">
                <!-- /.box-header -->
                <form>
                    <div class="box-header" id="search-box">
                        <h3 class="box-title box-title2">查看去重结果:</h3>
                        <div class="box-tools box-tools2">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control pull-right" placeholder="搜索"
                                       v-model="hanzi_">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default" @click="search"><i
                                            class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div id="content-box">
                    <!-- /.box-header -->
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li v-if="paging.previous_url"><a href="javascript:void(0);"
                                                              v-on:click="goto_page(paging.previous_url)">«</a>
                            </li>
                            <li v-else><a>«</a></li>
                            <li v-for="item in paging.page_links">
                                <a v-if="item[2]" href="javascript:void(0);">#[ item[1] ]]</a>
                                <a v-else-if="item[3]" href="javascript:void(0);">....</a>
                                <a v-else href="javascript:void(0);" v-on:click="goto_page(item[0])">#[ item[1] ]]</a>
                            </li>
                            <li v-if="paging.next_url"><a href="javascript:void(0);"
                                                          v-on:click="goto_page(paging.next_url)">»</a></li>
                            <li v-else><a>»</a></li>
                        </ul>
                    </div>
                    <div class="box-body">
                        <div class="fonts-content">
                            <a v-for="item in models" class="a1" :href="detail_url.replace(0, item.object_id)"
                               target="_blank"><img :src="item.task_ele.std_hanzi_pic_path"></a>
                        </div>
                    </div><!-- /.box-body -->

                </div>
            </div><!-- /.box -->
        </div>
        <!-- /.col -->
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-widget">
                <!-- /.box-header -->
                <div class="box-header">
                    <div align="center"><span class="draft_inter">初次</span><span class="review_inter">回查</span><span
                            class="final_inter">审查</span></div>
                </div>
                <div id='taskdedup' class="box-body">
                    <div class="dedup-container">
                        <div class="dedup dedup-left">
                            <div class="header-img">
                                <div class="zi">
                                    <div class="single-zi">{{ korean_char }} </div>
                                </div>
                            </div>  <!--字头-->
                            <ul class="dedup-bd">
                                {% for korean_variant in korean_list %}
                                    <li>
                                        <div v-on:click="clicked()"
                                             char_id="{{ korean_variant.id }}"
                                             pic="{{ korean_variant.hanzi_pic_path }}"
                                             char="{{ korean_variant.hanzi_char }}"
                                             class="l pull-left"
                                             inter_code="
                                                {% if business_stage == business_stage_enum.init %}
                                                    {{ korean_variant.inter_dict_dup_hanzi_draft }}
                                                {% elif business_stage == business_stage_enum.review %}
                                                    {{ korean_variant.inter_dict_dup_hanzi_review }}
                                                {% else %}
                                                    {{ korean_variant.inter_dict_dup_hanzi_final }}
                                                {% endif %}
                                             "
                                        >
                                            <p class="top">
                                                {% if korean_variant.hanzi_pic_path != "" %}
                                                    <img src= {{ korean_variant.hanzi_pic_path }}>
                                                {% else %}
                                                    {{ korean_variant.hanzi_char }}
                                                {% endif %}

                                                <div class="intercode">
                                            <p class="draft_inter"
                                                    {% if business_stage == business_stage_enum.init %}
                                               id="{{ korean_variant.id }}"
                                                    {% endif %}>
                                                {{ korean_variant.inter_dict_dup_hanzi_draft }}
                                            </p>
                                            <p class="review_inter"
                                                    {% if business_stage == business_stage_enum.review %}
                                               id="{{ korean_variant.id }}"
                                                    {% endif %}>
                                                {{ korean_variant.inter_dict_dup_hanzi_review }}
                                            </p>
                                            <p class="final_inter"
                                                    {% if business_stage == business_stage_enum.final %}
                                               id="{{ korean_variant.id }}"
                                                    {% endif %}>
                                                {{ korean_variant.inter_dict_dup_hanzi_final }}
                                            </p>

                                        </div>
                                    </div>

                                    </li>
                                {% endfor %}
                        </ul>
                    </div>
                    <div class="dedup dedup-right">
                        <div class="header-img">
                            <div class="zi">
                                <div class="single-zi">{{ taiwan_char }} </div>
                            </div>
                        </div>
                        <ul class="dedup-bd">
                            {% for taiwan_variant in taiwan_list %}
                                <li>
                                    <div class="l pull-right">
                                        <p class="top">
                                            {% if taiwan_variant.hanzi_pic != "" %}
                                                <img src= {{ taiwan_variant.hanzi_pic }}>
                                            {% else %}
                                                {{ taiwan_variant.hanzi_char }}
                                            {% endif %}</p>
                                        <p class="bottom">{{ taiwan_variant.seq_id }}</p>
                                    </div>

                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <!--  <div class="btns btns-tr">
                   <button class="btn btn-blue btn-sm next-page">提交</button>
                   <button class="btn btn-blue btn-sm next-page">提交并转下一页</button>
                 </div> -->
                <!--<div class="btn-group btns-tr split-btns pull-right">
                    <button class="btn btn-blue btn-sm z-btn-sm" v-on:click="submit">提交</button>
                    <button class="btn btn-blue btn-sm z-btn-sm" v-on:click="submit_and_next">下一页</button>
                </div>-->
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
    <!-- /.col -->
    </div>

    <script type="text/javascript">
        var package_id = {{package_id}};
        var list_url = "{% url 'tasks-list' version='v1' %}";
        var search_url = "{% url 'tasks-dedup-search' version='v1' %}";
        var status_complete = {{task_status_enum.completed}};
        var bus = new Vue();

        function hanzi_search(url, cond) {
            console.log(cond);
            $.ajax({
                url: url + '?task_package=' + package_id + '&task_status=' + status_complete + "&business_type=8",
                type: 'GET',
                data: cond,
                success: function (data) {
                    console.log(data);
                    content_box.models = data.models;
                    content_box.paging = data.html_context;
                },
                error: function (jqXHR, status, error) {
                    console.log(error);
                }
            });
        }

        var search_box = new Vue({
            delimiters: ["#[", "]]"],
            data: {
                hanzi_: "",
            },
            el: '#search-box',
            methods: {
                search: function () {
                    var cond = {};
                    if (this.hanzi_.length > 0) {
                        cond['hanzi_char'] = this.hanzi_;
                    }

                    if (Object.keys(cond).length > 0) {
                        hanzi_search(search_url, cond);
                    } else {
                        hanzi_search(list_url, cond);
                    }
                },
            }
        });

        var content_box = new Vue({
            delimiters: ["#[", "]]"],
            el: '#content-box',
            data: {
                models: [],
                paging: {},
                detail_url: "{% url 'm2.dedup-detail' %}" + "?pk=0",
            },
            methods: {
                goto_page: function (url) {
                    hanzi_search(url, null);
                },
                clicked: function () {
                    clicked_el = event.currentTarget;
                    taskdedup.path = detail_url;
                    bus.$emit('clicked', clicked_el)
                }
            },
            created: function () {
                hanzi_search(list_url, null);
            }
        });


        var taskdedup = new Vue({
            delimiters: ["#[", "]"],
            el: '#taskdedup',
            data: {
                path:"",
                result:{}
            },
            watch:{
                path: function () {
                        $.ajax({
                            url: path,
                            method: 'GET',
                            dataType: 'json',
                            data: {},
                            success: function (response) {
                                result = response.data;
                            },
                            error: function (xhr, status, err) {
                                console.log(err);
                            }
                        })
                }
            },
            methods: {
                
            }
        });
    </script>
{% endblock %}