{% extends "m2_base.html" %}

{% block content %}
<!-- TODOs
1. 翻页功能，等前端设计好按钮样式大小位置
2. 任务包编号等APIs
-->
<div class="content-header">
    <ol class="breadcrumb">
      <li><a href="javascript:;">我的任务</a></li>
      <li class="active">已完成</li>
    </ol>
</div>
<div class="row">
	<div class="col-xs-12">
	  <div class="box box-blue">
	    <div id="task-package-complete" class="box-body">
	      <div class="checkboxs">
	        <label><input type="checkbox" value="0" v-model="tasks">录入</label>
	        <label><input type="checkbox" value="1" v-model="tasks">拆字</label>
	        <label><input type="checkbox" value="2" v-model="tasks">去重</label>
	        <label><input type="checkbox" value="3" v-model="tasks">互助</label>
	      </div>
	      <table class="table table-bordered">
	        <thead>
	        <tr>
	          <th style="width: 43px">序号</th>
	          <th>类型</th>
	          <th>任务包编号</th>
	          <th>任务包大小</th>
	          <th>阶段</th>
	          <th>领取时间</th>
	          <th>完成时间</th>
	          <th>操作</th>
	        </tr>
	        </thead>
	        <tbody>
            <tr v-for='(item, index) in result'>
              <td v-text=index+1></td>
              <td v-text='map_type[item.business_type]'></td>
              <td v-text=''>任务包编号_##</td>
              <td v-text='item.size'></td>
              <td v-text='map_stage[item.business_stage]'></td>
              <td v-text='item.c_t'></td>
              <td v-text='item.completed_at'></td>
              <td>
                  <a v-show='item.business_type===0' href="{% url 'm2.task-package-input-list' %}">查看</a>
                  <a v-show='item.business_type===1' href="{% url 'm2.task-package-split-list' %}">查看</a>
                  <a v-show='item.business_type===2' href="{% url 'm2.task-package-dedup-list' %}">查看</a>
                  <a v-show='item.business_type===3' href="#">查看</a>

              </td>
            </tr>
	        </tbody>
	      </table>
	    </div>
	  </div>
	</div>
</div>

<script type="text/javascript">
function AjaxHelper() {
    this.ajax = function (url, type, dataType, data, callback) {
        $.ajax({
            url: url,
            method: type,
            cache: false,
            dataType: dataType,
            data: data,
            tranditional: true,
            success: callback,
            error: function (xhr, status, err) {
                console.log(err);
            }
        })
    }
}

AjaxHelper.prototype.get = function(url, data, callback) {
    this.ajax(url, 'GET', 'json', data, callback)
}

var ajaxHelper = new AjaxHelper();

var app = new Vue({
    el: '#task-package-complete',
    data: {
	    tasks: [],
	    result: [],
        param: {'status': 1},
        url: '/api/v1/task_packages/',
        map_type: {0: '录入', 1: '拆字', 2: '去重', 3: '互助'},
        map_stage: {0: '初次', 1: '回查', 2: '审查'},
    },
    created: function() {
        var vm = this
        callback = function(data) {
            vm.result = data.results
        }
        ajaxHelper.get(vm.url, {'status': 1}, callback)
    },
    watch: {
        tasks: function() {
            // 定义vm变量，让它指向this,this是当前的Vue实例
            var vm = this
            callback = function(data) {
                vm.result = data.results
            }
            if (vm.tasks.length === 0) {
                ajaxHelper.get(vm.url, {'status': 1}, callback)
            } else {
                vm.param.business_type_in = vm.tasks.join(",")
                ajaxHelper.get(vm.url, vm.param, callback)
            }
        }
    }
});
</script>
{% endblock %}

