{% extends "m2_base.html" %}

{% block 'menu-task-css' %}active{% endblock %}

{% block 'menu-item-complete-css' %}class="active"{% endblock %}

{% block content %}
<!-- 2017.1.20更新
APIs: 翻页页码、任务包编号；
HTML：一页是否可显示10行数据；
-->
<div class="content-header">
    <ol class="breadcrumb">
      <li><a href="javascript:;">我的任务</a></li>
      <li class="active">已完成</li>
    </ol>
</div>
<div class="row">
	<div class="col-xs-12">
	  <div id="task-package-complete" class="box box-blue">
	    <div class="box-body">
	      <div class="checkboxs">
            {% for key, value in business_type_choices %}
	        <label><input type="checkbox" value="{{key}}" v-model="tasks">{{value}}</label>
            {% endfor %}
	      </div>
	      <table class="table table-bordered">
	        <thead>
	        <tr>
	          <th style="width: 43px">序号</th>
	          <th>类型</th>
	          <th>任务包编号</th>
	          <th>任务包大小</th>
	          <th>阶段</th>
	          <th>领取时间</th>
	          <th>完成时间</th>
	          <th>操作</th>
	        </tr>
	        </thead>
	        <tbody>
            <tr v-for='(item, index) in result'>
              <td v-text=index+1></td>
              <td v-text='map_type[item.business_type]'></td>
              <td v-text=''>任务包编号_##</td>
              <td v-text='item.size'></td>
              <td v-text='map_stage[item.business_stage]'></td>
              <td v-text='item.c_t'></td>
              <td v-text='item.completed_at'></td>
              <td><a :href="get_href(item.business_type, item.id)">查看</a></td>
            </tr>
	        </tbody>
	      </table>
	    </div>
        <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
                <li v-if="previous"><a @click="gotoPage(previous)">«</a></li>
                <li v-else><a href="javascript:void(0);">«</a></li>
{#                <li v-for="item in context.page_links">#}
{#                  <a v-if="item[2]" href="javascript:void(0);">#[ item[1] ]]</a>#}
{#                  <a v-else-if="item[3]" href="javascript:void(0);">....</a>#}
{#                  <a v-else href="javascript:void(0);" v-on:click="goto_page(item[0])">#[ item[1] ]]</a>#}
{#                </li>#}
                <li v-if="next"><a href="javascript:void(0);" @click="gotoPage(next)">»</a></li>
                <li v-else><a href="javascript:void(0);">»</a></li>
              </ul>
            </div>
	  </div>
	</div>
</div>

<script type="text/javascript">
function MyFinishedTasks(url, data) {
    $.ajax({
        url: url,
        method: 'GET',
        dataType: 'json',
        data: data,
        success: function(response) {
            app.result = response.results;
            app.previous = response.previous;
            app.next = response.next;
        },
        error: function (xhr, status, err) {
            console.log(err);
        }
    })
}

var task_split_page_url = "{% url 'm2.task-package-split-list' package_id=0 %}";
var task_input_page_url = "{% url 'm2.task-package-input-list' package_id=0 %}";
var task_dedup_page_url = "{% url 'm2.task-package-dedup-list' package_id=0 %}";

var app = new Vue({
    el: '#task-package-complete',
    data: {
	    tasks: [],
	    result: [],
        previous: null,
        next: null,
        param: {'status': 1},
        url: '{% url 'task-packages-list' version='v1' %}',
        map_type: {{ business_type_choices_json | safe}},
        map_stage: {{ business_stage_choices_json | safe}},
    },
    created: function() {
        MyFinishedTasks(this.url, {'status': 1});
    },
    watch: {
        tasks: function() {
            if (this.tasks.length === 0) {
                MyFinishedTasks(this.url, {'status': 1});
            } else {
                this.param.business_type_in = this.tasks.join(",");
                MyFinishedTasks(this.url, this.param);

            }
        }
    },
    methods: {
        gotoPage: function(url) {
            MyFinishedTasks(url, null);
        },
        get_href(type, id) {
            var url = '';
            switch(type) {
                case {{business_type_enum.split}}:
                    url = task_split_page_url.replace(0, id);
                    break;
                case {{business_type_enum.input}}:
                    url = task_input_page_url.replace(0, id);
                    break;
                case {{business_type_enum.dedup}}:
                    url = task_dedup_page_url.replace(0, id);
                    break;
            }
            return url;
        },
    }
});

</script>
{% endblock %}

