{% extends "m2_base.html" %}
{% load i18n %}

{% block content %}
    <!-- Content Header-->
    <div class="content-header">
        <ol class="breadcrumb">
            <li><a >我的任务</a></li>
            <li class="active">去重</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-widget">
                <!-- /.box-header -->
                <div class="box-header">
                    <div class="marks"><span>初次</span><span>回查</span><span>审查</span></div>
                </div>
                <div id='taskdedup' class="box-body">
                    <div class="dedup-container">
                        <div class="dedup dedup-left">
                            <div class="header-img">
                                <div class="zi">
                                    <div class="single-zi">{{ korean_char }} </div>
                                </div>
                            </div>  <!--字头-->
                            <ul class="dedup-bd">
                                {% for korean_variant in korean_list %}
                                    <li>
                                        <div v-on:click="clicked()"
                                             char_id="{{ korean_variant.id }}"
                                             pic="{{ korean_variant.hanzi_pic_path }}"
                                             char="{{ korean_variant.hanzi_char }}"
                                             class="l pull-left"
                                             inter_code="
                                                {% if business_stage == business_stage_enum.init %}
                                                    {{ korean_variant.inter_dict_dup_hanzi_draft }}
                                                {% elif business_stage == business_stage_enum.review %}
                                                    {{ korean_variant.inter_dict_dup_hanzi_review }}
                                                {% else %}
                                                    {{ korean_variant.inter_dict_dup_hanzi_final }}
                                                {% endif %}
                                             "
                                        >
                                            <p class="top">
                                                {% if korean_variant.hanzi_pic_path != "" %}
                                                    <img src= {{ korean_variant.hanzi_pic_path }}>
                                                {% else %}
                                                    {{ korean_variant.hanzi_char }}
                                                {% endif %}

                                            <div class="intercode">
                                                <p class="draft_inter"
                                                            {% if business_stage == business_stage_enum.init %}
                                                               id="{{ korean_variant.id }}"
                                                            {% endif %}>
                                                        {{ korean_variant.inter_dict_dup_hanzi_draft }}
                                                </p>
                                                    <p class="review_inter"
                                                            {% if business_stage == business_stage_enum.review %}
                                                                id="{{ korean_variant.id }}"
                                                            {% endif %}>
                                                        {{ korean_variant.inter_dict_dup_hanzi_review }}
                                                    </p>
                                                    <p class="final_inter"
                                                            {% if business_stage == business_stage_enum.final %}
                                                                id="{{ korean_variant.id }}"
                                                            {% endif %}>
                                                        {{ korean_variant.inter_dict_dup_hanzi_final }}
                                                    </p>

                                            </div>
                                        </div>

                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="dedup dedup-right">
                            <div class="header-img">
                                <div class="zi">
                                    <div class="single-zi">{{ taiwan_char }} </div>
                                </div>
                            </div>
                            <ul class="dedup-bd">
                                {% for taiwan_variant in taiwan_list %}
                                    <li>
                                        <div class="l pull-right">
                                            <p class="top">
                                                {% if taiwan_variant.hanzi_pic != "" %}
                                                    <img src= {{ taiwan_variant.hanzi_pic }}>
                                                {% else %}
                                                    {{ taiwan_variant.hanzi_char }}
                                                {% endif %}</p>
                                            <p class="bottom">{{ taiwan_variant.seq_id }}</p>
                                        </div>

                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <!--  <div class="btns btns-tr">
                       <button class="btn btn-blue btn-sm next-page">提交</button>
                       <button class="btn btn-blue btn-sm next-page">提交并转下一页</button>
                     </div> -->
                    <div class="btn-group btns-tr split-btns pull-right">
                        <button class="btn btn-blue btn-sm z-btn-sm" v-on:click="submit">提交</button>
                        <button class="btn btn-blue btn-sm z-btn-sm" v-on:click="submit_and_next">下一页</button>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <div id="modals" style="display: block;">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        {#                 <div class="modal-header">#}
                        {#                   <button type="button" class="close" data-dismiss="modal" @click="displayModal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>#}
                        {#                   <h4 class="modal-title" id="myModalLabel">Modal title</h4>#}
                        {#                 </div>#}
                        <div class="modal-body" style="display:none;">

                        </div>
                        <div class="modal-footer" style="text-align:left;">
                            <div class="input-group" style="padding-bottom: 15px;"><span
                                    class="input-group-addon">高丽异体字:</span>

                                <img :src="pic_id" :alt="hanzi_char">
                            </div>
                            <div class="input-group" style="padding-bottom: 15px"><span
                                    class="input-group-addon">重复的台湾异体字:</span>
                                <input type="text" placeholder="请输入与高丽异体字重复的台湾异体字编号" class="form-control"
                                       v-model="inter_dict_dup_hanzi">
                            </div>
                            <div class="btns">
                                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"
                                        @click="displayModal">取消
                                </button>
                                <button type="button" class="btn btn-blue btn-sm" @click="setDedup">确定</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript">
        var bus = new Vue();
        var taskdedup = new Vue({
            delimiters: ["#[", "]"],
            el: '#taskdedup',
            data: {
                display: 'display:block;'

            },
            methods: {
                showModal: function () {
                    document.getElementById("myModal").style.display = "block";

                },
                clicked: function () {
                    clicked_el = event.currentTarget;
                    taskdedup.current_char = clicked_el;
                    taskdedup.showModal();
                    bus.$emit('clicked', clicked_el)
                },
                submit: function () {
                    $.ajax({
                        url: "/api/v1/korean-taiwan-dup-charaters/" + {{ korean_dedup_id }} +"/submit/",
                        method: 'PUT',
                        dataType: 'json',
                        data: {},
                        success: function (response) {
                            alert(response);
                        },
                        error: function (xhr, status, err) {
                            console.log(err);
                        }
                    })
                },
                submit_and_next: function () {
                    $.ajax({
                        url: "/api/v1/korean-taiwan-dup-charaters/" + {{ korean_dedup_id }} +"/submit_and_next/",
                        method: 'GET',
                        dataType: 'json',
                        data: {},
                        success: function (response) {
                            alert(response);
                            window.location.reload();
                        },
                        error: function (xhr, status, err) {
                            console.log(err);
                        }
                    })
                }
            }
        });

        var modals = new Vue({
            delimiters: ["#[", "]"],
            el: '#modals',
            data: {
                pic_id: "",
                hanzi_char: "",
                char_id: 0,
                inter_dict_dup_hanzi: "",
                current_char: 0
            },

            methods: {
                setDedup: function () {
                    $.ajax({
                        url: "/api/v1/interdict-dedups/" + modals.char_id + "/submit_single_variant/",
                        method: 'PATCH',
                        dataType: 'json',
                        data: {
                            'inter_dict_dup_hanzi': modals.inter_dict_dup_hanzi,
                            'task_package_id': {{ task_package_id }},
                            'business_stage': {{ business_stage }}
                        },
                        success: function (response) {
                            modals.displayModal();
                            d = document.getElementById(modals.char_id);
                            d.innerHTML = modals.inter_dict_dup_hanzi;
                        },
                        error: function (xhr, status, err) {
                            console.log(err);
                        }
                    })
                },
                displayModal: function () {
                    document.getElementById("myModal").style.display = "none";
                }
            },
            created: function () {
                bus.$on('clicked', function (clicked_el) {
                    modals.pic_id = clicked_el.getAttribute('pic');
                    modals.hanzi_char = clicked_el.getAttribute('char');
                    modals.char_id = clicked_el.getAttribute('char_id');
                    modals.inter_dict_dup_hanzi = clicked_el.getAttribute('inter_code').replace(/ /g, "").replace(/\n/g, "");
                })
            }
        });
    </script>
{% endblock %}