{% extends "m2_base.html" %}

{% block content %}
	<!-- Content Header-->
      <div class="content-header">
        <ol class="breadcrumb">
          <li><a href="javascript:;">我的任务</a></li>
          <li class="active">去重</li>
        </ol>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="box box-widget">
            <!-- /.box-header -->
            <div class="box-header">
              <div class="marks"><span>初次</span><span>回查</span><span>审查</span></div>
            </div>
            <div class="box-body">
              <div class="dedup-container">
                <div class="dedup dedup-left">
                  <div class="header-img">
                    <div class="zi">
                      <div class="single-zi">庆</div>
                    </div>
                  </div>
                  <ul class="dedup-bd">
                    <li>
                      <div class="l pull-left">
                        <p class="top"><img src="../img/font-img8.jpg" alt=""></p>
                        <p class="bottom">测B05968-002</p>
                      </div>
                      <div class="r pull-left" style="display:none;">
                        <p>庆</p>
                        <p>测B05968-002</p>
                        <p>测B05968-002</p>
                      </div>
                    </li>
                    <li>
                      <div class="l pull-left">
                        <p class="top active">庆</p>
                        <p class="bottom">测B05968-002</p>
                      </div>
                      <div class="r pull-left">
                        <p>庆</p>
                        <p>测B05968-002</p>
                        <p>测B05968-002</p>
                      </div>
                    </li>
                    <li>
                      <div class="l pull-left">
                        <p class="top">慶</p>
                        <p class="bottom">测B05968-002</p>
                      </div>
                      <div class="r pull-left" style="display:none;">
                        <p>庆</p>
                        <p>测B05968-002</p>
                        <p>测B05968-002</p>
                      </div>
                    </li>
                    <li>
                      <div class="l pull-left">
                        <p class="top">慶</p>
                        <p class="bottom">测B05968-002</p>
                      </div>
                      <div class="r pull-left" style="display:none;">
                        <p>庆</p>
                        <p>测B05968-002</p>
                        <p>测B05968-002</p>
                      </div>
                    </li>
                    <li>
                      <div class="l pull-left">
                        <p class="top">慶</p>
                        <p class="bottom">测B05968-002</p>
                      </div>
                      <div class="r pull-left" style="display:none;">
                        <p>庆</p>
                        <p>测B05968-002</p>
                        <p>测B05968-002</p>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="dedup dedup-right">
                  <div class="header-img">
                    <div class="zi">
                      <div class="single-zi">庆</div>
                    </div>
                  </div>
                  <ul class="dedup-bd">
                    <li>
                      <div class="l pull-left">
                        <p class="top active">庆</p>
                        <p class="bottom">测B05968-002</p>
                      </div>
                      <div class="r pull-left" style="display:none;">
                        <p>庆</p>
                        <p>测B05968-002</p>
                        <p>测B05968-002</p>
                      </div>
                    </li>
                    <li>
                      <div class="l pull-left">
                        <p class="top">慶</p>
                        <p class="bottom">测B05968-002</p>
                      </div>
                      <div class="r pull-left" style="display:none;">
                        <p>庆</p>
                        <p>测B05968-002</p>
                        <p>测B05968-002</p>
                      </div>
                    </li>
                    <li>
                      <div class="l pull-left">
                        <p class="top">慶</p>
                        <p class="bottom">测B05968-002</p>
                      </div>
                      <div class="r pull-left" style="display:none;">
                        <p>庆</p>
                        <p>测B05968-002</p>
                        <p>测B05968-002</p>
                      </div>
                    </li>
                    <li>
                      <div class="l pull-left">
                        <p class="top">慶</p>
                        <p class="bottom">测B05968-002</p>
                      </div>
                      <div class="r pull-left" style="display:none;">
                        <p>庆</p>
                        <p>测B05968-002</p>
                        <p>测B05968-002</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="btns btns-tr">
                <button class="btn btn-blue btn-sm next-page">存疑提交</button>
                <button class="btn btn-blue btn-sm next-page">下一页</button>
              </div>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
{% endblock %}