.control-label{text-align: right;line-height: 30px;padding-top: 0px;}
.centerT{float: left;margin-top: 43%;margin-left: 45%;color: #666;font-size: 16px;}
.center-label{margin-left:45%;line-height: 34px;}
.example-modal .modal{position: fixed;top: 0;bottom: 0;right: 0;left: 0;display: none;z-index: 1;width: 100%;height: 100%;background-color:rgba(0,0,0,0.8);}
.modal-dialog{position: absolute;top: 20%;left: 35%;}
.modal-content{border-radius: 5px;}
.renImg{width: 96%;margin:2%;float: left;border:1px solid #f2f2f2; border-radius: 3px;margin-bottom: 20px;}
.renImgB{width: 96%;margin: 2%;float: left; border-radius: 3px;font-weight: 600;}
.padding{padding: 10px;}
.buttonT{line-height: 30px;margin-right: 20px;}
.buttonR{width: 15px;height: 15px;/*border-radius: 4px;*/border:none;}
.radius{border-radius: 4px;}
.example-modal input{color: #5e5e5e;}
.form-control{color: #5e5e5e;}
.example-modal label{color: #666666;}
label{color: #666666;}
.buttonRS{width: 13px;height: 13px;border-radius: 2px;border:1px solid #dbdbdb;}
.buttonRC{width: 13px;height: 13px;border-radius: 0px;border:none;}
.width{padding: 0px 5px;float: left;}
.width input{margin-right: 7px;}
.red{background-color:#e72a26; }
.green{background-color:#01a75b; }
.blueg{background-color:#50f0fe; }
.orger{background-color:#fd9903; }
#example1 img{width: 30px;height: 30px;}
.bujian{padding-left:3%; }
#imgup{width: 75px;height: 34px;line-height: 34px;margin-left: 30px;}
.content{min-width: 1140px;}
.content-header{padding-bottom:20px;padding-left:0px; }
.top-35{height: 35px;margin-bottom: 15px;overflow: hidden;}
.top-35-samll{height: 35px;margin-bottom: 15px;}
.top-35 label.top,.top-35-samll label.top{top: -35px;}
.top-35 div.top,.top-35-samll div.top{top: -70px;}
.file {position: relative;display: inline-block;background: #f8f8f8;padding: 4px 12px;overflow: hidden;color: #999;text-decoration: none;text-indent: 0;line-height: 26px;height: 35px;border:1px solid #d2d6de;
}
.file input {position: absolute;font-size: 100px;right: 0;top: 0;opacity: 0;height: 35px;}
.file:hover {background: #AADFFD;border-color: #78C3F3;color: #004974;text-decoration: none;}
.box-body div.form-group{padding-left: 8%;}
.col-sm-pull-yuan-2{right: 18%;}
.col-sm-pull-yuan-4{right: 35%;}
.col-sm-push-yuan-8{left: 62.333%;}
.col-sm-input-3{width: 28%;}