{% extends "hanzi_dicts_base.html" %}

{% block title %}汉语大字典{% endblock %}

{% load static %}
{% block headerjs %}
  <script src="{{STATIC_URL}}js/jquery.zoom.min.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}js/jquery-ui.min.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}js/vue.js" type="text/javascript"></script>
  <script src='{{STATIC_URL}}js/jquery.colorbox-min.js' type="text/javascript"></script>
  <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
{% endblock %}

{% block right-tabs %}
  <li class="active">部首索引</li>
  <li>目录索引</li>
{% endblock %}

{% block catalog-index %}
  <!-- catalog Menu -->
  <ul class="sidebar-menu">
    <li class="treeview">
      <a class="inner" href="javascript:;" alt="A14">
        <span>第二版修订说明</span>
      </a>
    </li>
    <li class="treeview">
      <a href="javascript:;" alt="A17">
        <span>前言</span>
      </a>
    </li>
    <li class="treeview">
      <a href="javascript:;" alt="A19">
        <span>凡例</span>
      </a>
    </li>
    <li class="treeview">
      <a href="javascript:;" alt="1">
        <span>正文</span>
        <span class="pull-right-container"><i class="fa icon-l-arrow2 pull-right"></i></span>
      </a>
      <ul class="treeview-menu">
        <li><a class="treeview-item" href="javascript:;" alt="1"><i class="fa fa-circle-o"></i> 第一卷（一部至戈部）</a></li>
        <li><a class="treeview-item" href="javascript:;" alt="607"><i class="fa fa-circle-o"></i> 第二卷（小部至无部）</a></li>
        <li><a class="treeview-item" href="javascript:;" alt="1231"><i class="fa fa-circle-o"></i> 第三卷（木部至水部）</a></li>
        <li><a class="treeview-item" href="javascript:;" alt="1929"><i class="fa fa-circle-o"></i> 第四卷（手部至毋部）</a></li>
        <li><a class="treeview-item" href="javascript:;" alt="2553"><i class="fa fa-circle-o"></i> 第五卷（示部至竹部）</a></li>
        <li><a class="treeview-item" href="javascript:;" alt="3239"><i class="fa fa-circle-o"></i> 第六卷（臼部至豕部）</a></li>
        <li><a class="treeview-item" href="javascript:;" alt="3861"><i class="fa fa-circle-o"></i> 第七卷（貝部至阜部）</a></li>
        <li><a class="treeview-item" href="javascript:;" alt="4485"><i class="fa fa-circle-o"></i> 第八卷（金部至󰽚部）</a></li>
      </ul>
    </li>
    <li class="treeview">
      <a href="javascript:;" alt="5129">
        <span>附录</span>
        <span class="pull-right-container"><i class="fa icon-l-arrow2 pull-right"></i></span>
      </a>
      <ul class="treeview-menu">
        <li><a class="treeview-item" href="javascript:;" alt="5131"><i class="fa fa-circle-o"></i> 新旧字形对照表</a></li>
        <li><a class="treeview-item" href="javascript:;" alt="5132"><i class="fa fa-circle-o"></i> 汉语拼音方案</a></li>
        <li><a class="treeview-item" href="javascript:;" alt="5133"><i class="fa fa-circle-o"></i> 国际音标表</a></li>
        <li><a class="treeview-item" href="javascript:;" alt="5134"><i class="fa fa-circle-o"></i> 简化字总表</a></li>
        <li><a class="treeview-item" href="javascript:;" alt="5148"><i class="fa fa-circle-o"></i> 现代汉语常用字表</a></li>
        <li><a class="treeview-item" href="javascript:;" alt="5154"><i class="fa fa-circle-o"></i> 现代汉语通用字表</a></li>
        <li><a class="treeview-item" href="javascript:;" alt="5170"><i class="fa fa-circle-o"></i> 普通话异读词审音表</a></li>
        <li><a class="treeview-item" href="javascript:;" alt="5182"><i class="fa fa-circle-o"></i> 中国历史纪年表</a></li>
        <li><a class="treeview-item" href="javascript:;" alt="5243"><i class="fa fa-circle-o"></i> 主要引用书目表</a></li>
      </ul>
    </li>
    <li class="treeview">
      <a href="javascript:;" alt="5351">
        <span>索引</span>
        <span class="pull-right-container"> <i class="fa icon-l-arrow2 pull-right"></i></span>
      </a>
      <ul class="treeview-menu">
        <li><a class="treeview-item" href="javascript:;" alt="5353"><i class="fa fa-circle-o"></i> 笔画检字表</a></li>
        <li><a class="treeview-item" href="javascript:;" alt="5547"><i class="fa fa-circle-o"></i> 音序检字表</a></li>
      </ul>
    </li>
    </li>
    <li class="treeview">
      <a href="javascript:;" alt="5726">
        <span>后记</span>
      </a>
    </li>
    <li class="treeview">
      <a href="javascript:;" alt="A23">
        <span>附：初版《汉语大字典》部首表</span>
      </a>
    </li>
  </ul>
  <!-- /.catalog-menu -->
{% endblock %}

{% block content %}
  <div id="img-div">
    <div class="button-group">
      <button class="btn btn-default glyphicon glyphicon-step-backward" id="page-backward" @click="prev"><i class="icon-left"></i></button>
      <span>放大倍数:</span><input size="4" id="magnify" type="text" v-model="magnify" style="border-size:2px"/>
      <!--<button class="btn btn-default glyphicon glyphicon-zoom-in" onmousedown="changeSize('image-page','+');"><i class="icon-zomIn"></i></button>-->
      <!--<button class="btn btn-default glyphicon glyphicon-zoom-out" onmousedown="changeSize('image-page','-');"><i class="icon-zoomOut"></i></button>-->
      <button class="btn btn-default glyphicon glyphicon-step-forward" id="page-forward" @click="next"><i class="icon-right"></i></button>
    </div>
    <div id="img" style="text-align: center; overflow-y: auto;">
      <img class="dict-image align-center" id="image-page" :src="path" alt="" style="width: 85%;">
    </div>
  </div>
  <script type="text/javascript">

    var mag = new Vue({
      delimiters: ["#[", "]]"],
      el: '#img-div',
      data: {
        magnify: 1,
        path: "{{ welcome_url }}"
      },
      methods: {
        next: function() {
          var page = cur_page;
          var type = '';
          var matches = page.match(/(A)(\d+)/);
          if (matches != null) {
              type = matches[1];
              page = matches[2];
          }
          var max_page_map = {'A': 25, '': 5727};
          var max_page = max_page_map[type];
          var next_page = parseInt(page) + 1 < max_page ? parseInt(page) + 1 : max_page;
          if (type == 'A' && next_page < 10) {
              next_page = '0' + next_page;
          }
          next_page = '' + type + next_page;
          if (next_page == 'A25')
              next_page = 1;
          set_page(next_page);
        },

        prev: function() {
          var page = cur_page;
          var type = '';
          var matches = page.match(/(A)(\d+)/);
          if (matches != null) {
              type = matches[1];
              page = matches[2];
          }
          var last_page = parseInt(page) > 1 ? parseInt(page) - 1 : 1;
          if (type == 'A' && last_page < 10) {
              last_page = '0' + last_page;
          }
          last_page = '' + type + last_page;
          if (last_page == '1') {
              last_page = 'A25';
          }
          set_page(last_page);
        },
      },
       watch: {
          magnify: function () {
              $('#img').zoom({
                  url: this.path,
                  callback: function () {
                      $(this).colorbox({href: this.src});
                  },
                  magnify: this.magnify
              });
          },
          path: function () {
              $('#img').zoom({
                  url: this.path,
                  callback: function () {
                      $(this).colorbox({href: this.src});
                  },
                  magnify: this.magnify
              });
          },
      },
    });

    $('#img').zoom({url: "{{ welcome_url }}", callback: function(){}, magnify: mag.magnify});

    // 全局变量
    var base_url = 'http://s3.cn-north-1.amazonaws.com.cn/lqhanzi-images/dictionaries/zh-dict/';
    var cur_page = 'A01';
    var cur_page_url = '';
    // 点击目录索引
    $(document).on('click', '.catalog-panel .treeview a', function () {
        var page = $(this).attr('alt');
        set_page(page);
    });


    // 点击检索结果集
    $(document).on('click', '.strokes-item .hanzi-item', function () {
        $(".popup").hide("normal");
        var page = $(this).attr('alt').split('-')[0];
        set_page(page);
    });

    // 设置浏览页面
    function set_page(page) {
        page = page + '';
        var padding_page = page;
        var suffix = '.png';
        if (padding_page.match(/^\d+$/) != null) {
            var pad = "0000"
            padding_page = pad.substring(0, pad.length - page.length) + page;
        } else if (page.match(/A0[12]/) != null) {
            suffix = '.jpg';
        }
        <!--var url = base_url + padding_page + suffix;-->
        cur_page_url = base_url + padding_page + suffix;

        $('#image-page').attr('src', cur_page_url);
        // 设置当前页面
        cur_page = page;
    }

    // 放大/缩小
    <!--var o_time;-->
    <!--function changeSize(id, action) {-->
        <!--var obj = document.getElementById(id);-->
        <!--obj.style.width = parseInt(obj.style.width) + (action == '+' ? +10 : -10) + '%';-->
    <!--//    o_time = window.setTimeout('changeSize(\'' + id + '\',\'' + action + '\')', 100);-->
    <!--}-->

    <!--document.onmouseup = function () {-->
        <!--window.clearTimeout(o_time);-->
    <!--}-->

  </script>
{% endblock %}

