<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <title>{% block title %}字典{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/m1-myFont.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
  <script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
  <script src="{% static 'js/sidebar.js' %}"></script>
  <script src="{% static 'js/hanzi/hanzi_dicts_base.js' %}"></script>
  <script src="{% static 'js/hanzi/hanzi_dicts.js' %}"></script>
  {% block headerjs %}  {% endblock %}

</head>

<body class="sidebar-mini">
<div class="wrapper">
  <div class="dictionary-header">
    <div class="shortcut clearfix">
      <div class="home fl nav-tab">
        <ul class="ul-dicts-tab clearfix">
          <li>
            <a class="home-icon" href="{% url 'm1.index' %}"></a>
          </li>
        </ul>
      </div>
      <div class="dict-tabs fr">
        <ul class="clearfix dict-tabs-nav">
          <li {% if 'taiwan' in request.path %} class="active" {% endif %}><a href="/dicts/taiwan">台湾异体字字典</a></li>
          <li {% if 'korean' in request.path %} class="active" {% endif %}><a href="/dicts/korean">高丽异体字字典</a></li>
          <li {% if 'hanyu' in request.path %} class="active" {% endif %}><a href="/dicts/hanyu">汉语大字典</a></li>
          <li {% if 'dunhuang' in request.path %} class="active" {% endif %}><a href="/dicts/dunhuang">敦煌俗字典</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="dictionary-content" id="dictionary-content">
    <aside class="main-sidebar">
      <!-- Sidebar toggle button-->
      <a href="#" class="icon-sidebar-toggle" data-toggle="offcanvas" role="button"></a>
      <ul class="tab-nav-custom clearfix" id="left-tabs">
        {% block right-tabs %}
          <li class="active">部首索引</li>
          <li>目录索引</li>
        {% endblock %}
      </ul>
      <div class="tab-con">
        <section class="sidebar tab-panel showing">
          {% block radical-index %}
            <!-- Sidebar Menu -->
            <ul class="sidebar-menu">
              {% for key, item in radical_dict.items %}
                <li class="treeview">
                  <a href="javascript:;">
                    <i class="type type{{ item.strokes }}">{{ item.strokes_str }}</i>
                    <span class="pull-right-container">
                    <i class="fa icon-l-arrow2 pull-right"></i>
                  </span>
                  </a>
                  <ul class="treeview-menu clearfix">
                    {% for radical in item.radicals %}
                      <li class="hanzi-item">{{ radical }}</li>
                    {% endfor %}
                  </ul>
                </li>
              {% endfor %}
            </ul>
            <!-- /.sidebar-menu -->
          {% endblock %}
        </section>

        <section class="sidebar tab-panel catalog-panel">
          <!-- catalog Menu -->
          {% block catalog-index %}
          {% endblock %}
          <!-- /.catalog-menu -->
        </section>
      </div>
      <!-- /.sidebar -->
    </aside>

    <!--浮层-->
    <div class="popup" id="search_result">
      <span class="toggler"><i class="close"></i></span>
      <div class="popup-hd clearfix">
        <p class="fl" id="tips"></p>
        <div class="parts-ser pull-right">
          <input class="input-ser fl" id="input-strokes" type="text" placeholder="请输入剩余笔画数">
          <button type="submit" class="btn btn-default fl" id="search_by_strokes"><i class="icon-ser"></i>
          </button>
          <span id="search_tip"></span>
        </div>
      </div>

      <ul class="strokes-lists">
        <!--<li class="strokes-item">
            <span class="num">一画</span>
            <div class="strokes-item-bd clearfix">
                <span class="hanzi-item">八</span>
                <span class="hanzi-item"><img src="/static/img/200C9.gif" alt=""></span>
            </div>
        </li>-->
      </ul>

      <div class="pages-box hide clearfix">
        <ul class="pagination fl">
        </ul>
        <span>跳至&nbsp;<input id="new_page" type="text">&nbsp;页/<span id="pages"></span>页</span>
        <span id="dict_page_btn" class="page-btn" data-url="test">GO</span>
        <span id="search_tip2"></span>
      </div>
    </div>
    <!--./浮层-->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper tab-con">
      <!-- Main content -->
      <div class="content-wrapper-inner tab-panel showing">
        {% block content %}
        {% endblock %}
      </div>
      <!-- /.content -->
    </div>

  </div>

  <div class="bottom">
    <div class="bottom-content">
      <div style="padding: 25px 0">
        <div class="copy-right fr">
        <span>Copyright@2017 hanzi.lqdzj.cn All right Reserved</span>
        <span>|</span>
        <span class="links"><a href="{% url 'm1.help' %}">帮助中心</a></span>
        </div>
        </div>
      </div>
    </div>
  </div>

</div>

</body>
</html>