{% extends "hanzi_dicts_base.html" %}

{% block title %}汉语大字典{% endblock %}

{% load static %}
{% block headerjs %}
  <script src="{% static 'js/hanzi/hanzi_dicts_hanyu.js' %}"></script>
{% endblock %}

{% block right-tabs %}
  <li class="active">部首索引</li>
  <li>目录索引</li>
{% endblock %}

{% block catalog-index %}
  <!-- catalog Menu -->
  <ul class="sidebar-menu">
    <li class="treeview">
      <a class="inner" href="javascript:;" alt="A12">
        <span>第二版修订说明</span>
      </a>
    </li>
    <li class="treeview">
      <a href="javascript:;" alt="A15">
        <span>前言</span>
      </a>
    </li>
    <li class="treeview">
      <a href="javascript:;" alt="A17">
        <span>凡例</span>
      </a>
    </li>
    <li class="treeview">
      <a href="javascript:;" alt="1">
        <span>正文</span>
        <span class="pull-right-container"><i class="fa icon-l-arrow2 pull-right"></i></span>
      </a>
      <ul class="treeview-menu">
        <li><a class="treeview-item" href="javascript:;" alt="1"><i class="fa fa-circle-o"></i> 第一卷（一部至戈部）</a></li>
        <li><a class="treeview-item" href="javascript:;" alt="607"><i class="fa fa-circle-o"></i> 第二卷（小部至无部）</a></li>
        <li><a class="treeview-item" href="javascript:;" alt="1231"><i class="fa fa-circle-o"></i> 第三卷（木部至水部）</a></li>
        <li><a class="treeview-item" href="javascript:;" alt="1929"><i class="fa fa-circle-o"></i> 第四卷（手部至毋部）</a></li>
        <li><a class="treeview-item" href="javascript:;" alt="2553"><i class="fa fa-circle-o"></i> 第五卷（示部至竹部）</a></li>
        <li><a class="treeview-item" href="javascript:;" alt="3239"><i class="fa fa-circle-o"></i> 第六卷（臼部至豕部）</a></li>
        <li><a class="treeview-item" href="javascript:;" alt="3861"><i class="fa fa-circle-o"></i> 第七卷（貝部至阜部）</a></li>
        <li><a class="treeview-item" href="javascript:;" alt="4485"><i class="fa fa-circle-o"></i> 第八卷（金部至󰽚部）</a></li>
      </ul>
    </li>
    <li class="treeview">
      <a href="javascript:;" alt="5129">
        <span>附录</span>
        <span class="pull-right-container"><i class="fa icon-l-arrow2 pull-right"></i></span>
      </a>
      <ul class="treeview-menu">
        <li><a class="treeview-item" href="javascript:;" alt="5131"><i class="fa fa-circle-o"></i> 新旧字形对照表</a></li>
        <li><a class="treeview-item" href="javascript:;" alt="5132"><i class="fa fa-circle-o"></i> 汉语拼音方案</a></li>
        <li><a class="treeview-item" href="javascript:;" alt="5133"><i class="fa fa-circle-o"></i> 国际音标表</a></li>
        <li><a class="treeview-item" href="javascript:;" alt="5134"><i class="fa fa-circle-o"></i> 简化字总表</a></li>
        <li><a class="treeview-item" href="javascript:;" alt="5148"><i class="fa fa-circle-o"></i> 现代汉语常用字表</a></li>
        <li><a class="treeview-item" href="javascript:;" alt="5154"><i class="fa fa-circle-o"></i> 现代汉语通用字表</a></li>
        <li><a class="treeview-item" href="javascript:;" alt="5170"><i class="fa fa-circle-o"></i> 普通话异读词审音表</a></li>
        <li><a class="treeview-item" href="javascript:;" alt="5182"><i class="fa fa-circle-o"></i> 中国历史纪年表</a></li>
        <li><a class="treeview-item" href="javascript:;" alt="5243"><i class="fa fa-circle-o"></i> 主要引用书目表</a></li>
      </ul>
    </li>
    <li class="treeview">
      <a href="javascript:;" alt="5351">
        <span>索引</span>
        <span class="pull-right-container"> <i class="fa icon-l-arrow2 pull-right"></i></span>
      </a>
      <ul class="treeview-menu">
        <li><a class="treeview-item" href="javascript:;" alt="5353"><i class="fa fa-circle-o"></i> 笔画检字表</a></li>
        <li><a class="treeview-item" href="javascript:;" alt="5547"><i class="fa fa-circle-o"></i> 音序检字表</a></li>
      </ul>
    </li>
    </li>
    <li class="treeview">
      <a href="javascript:;" alt="5726">
        <span>后记</span>
      </a>
    </li>
    <li class="treeview">
      <a href="javascript:;" alt="B01">
        <span>附：初版《汉语大字典》部首表</span>
      </a>
    </li>
  </ul>
  <!-- /.catalog-menu -->
{% endblock %}

{% block content %}
  <div class="button-group" style="position:absolute; float:left;">
    <button class="btn btn-default glyphicon glyphicon-step-backward" id="page-backward"></button>
    <button class="btn btn-default glyphicon glyphicon-zoom-in" onmousedown="changeSize('image-page','+');"
            onmouseup="window.clearTimeout(oTime);"></button>
    <button class="btn btn-default glyphicon glyphicon-zoom-out" onmousedown="changeSize('image-page','-');"
            onmouseup="window.clearTimeout(oTime);"></button>
    <button class="btn btn-default glyphicon glyphicon-step-forward" id="page-forward"></button>
  </div>
  <div style="text-align: center; overflow-y: auto;">
    <img class="dict-image align-center" id="image-page" src="{{ welcome_url }}" alt="" style="width: 85%;">
  </div>
{% endblock %}

