<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>首页-部件笔画检字法——检索结果详情页</title>
    <!--font.css-->
    <link rel="stylesheet" href="css/myfont.css">
    <!--base.css-->
    <link rel="stylesheet" href="css/base.css">
    <!--main.css-->
    <link rel="stylesheet" href="css/main.css">
    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery 2.2.3 -->
    <script src="js/jquery-2.2.3.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="hanzi-sets-header">
            <div class="shortcut">
                <div class="w">
                    <div class="hanzi-sets-logo fl">
                        <h1><a href="hanzi_stroke.html">龙泉字库</a></h1>
                    </div>
                    <div class="nav-tab nav-tab-r fr">
                        <ul class="tabs clearfix">
                            <li><a href="hanzi-dict.html">异体字检索</a></li>
                            <li><a href="dictionary.html">字典</a></li>
                            <li class="dropdown">
                                <!--&lt;!&ndash;<li class="dropdown user-menu">&ndash;&gt; 登录后添加user-menu类名-->
                                <!--未登录前-->
                                <a href="javascript:;" class="dropdown-toggle"><i class="icon-user1"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="user-header">
                                        <img src="img/login-ahead.jpg" class="img-circle" alt="User Image">
                                        <p>未登录</p>
                                    </li>
                                    <li class="user-footer clearfix">
                                        <div class="fl">
                                            <a href="#" class="btn btn-default btn-flat">注册</a>
                                        </div>
                                        <div class="fr">
                                            <a href="#" class="btn btn-default btn-flat">登录</a>
                                        </div>
                                    </li>
                                </ul>
                                <!--./未登录-->
                                <!--登录后-->
                                <!-- The user image in the nav-->
                                <!--<a href="javascript:;">-->
                                <!--<img src="img/user-login.jpg" class="user-image" alt="头像">-->
                                <!--<span>贤二</span>-->
                                <!--</a>-->
                                <!--<ul class="dropdown-menu">-->
                                <!--<li class="user-header">-->
                                <!--<img src="img/user-login.jpg" class="img-circle" alt="头像">-->
                                <!--<p>贤二</p>-->
                                <!--</li>-->
                                <!--<li class="user-footer clearfix">-->
                                <!--<div class="fl">-->
                                <!--<a href="#" class="btn btn-default btn-flat">修改密码</a>-->
                                <!--</div>-->
                                <!--<div class="fr">-->
                                <!--<a href="#" class="btn btn-default btn-flat">退出登录</a>-->
                                <!--</div>-->
                                <!--</li>-->
                                <!--</ul>-->
                                <!--./登录后-->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="hanzi-sets-content">
            <div class="w">
                <div class="hanzi-sets-main">
                    <div class="hanzi-main-hd clearfix">
                        <div class="hanzi">
                            <div class="zi">
                                <div class="single-zi">菩</div>
                            </div>
                        </div>
                        <div class="hanzi-origin clearfix">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>《台湾异体字字典》</th>
                                        <th>《汉语大字典》</th>
                                        <th>《高丽异体字字典》</th>
                                        <th>《敦煌俗字典》</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>正异类型:</th>
                                        <td>广义且正字</td>
                                        <td>狭义异体字</td>
                                        <td>狭义异体字</td>
                                        <td>狭义异体字</td>
                                    </tr>
                                    <tr>
                                        <th>所属正字:</th>
                                        <td>菩</td>
                                        <td></td>
                                        <td>菩</td>
                                        <td>菩</td>
                                    </tr>
                                    <tr>
                                        <th>原始出处:</th>
                                        <td><a href="#">A03495</a></td>
                                        <td><a href="#">v6-352-8</a></td>
                                        <td><a href="#">菩</a></td>
                                        <td><a href="#">309</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="hanzi-main-bd">
                        <ul class="nav-tab-custom clearfix">
                            <li class="active">台湾(A02758-005)</li>
                            <li>台湾(C0978)</li>
                            <li>汉语(V4-2232-1)</li>
                            <li>高丽</li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-panel showing">
                                台湾(A02758-005)
                            </div>
                            <div class="tab-panel">
                                台湾(C0978)
                            </div>
                            <div class="tab-panel">
                                汉语(V4-2232-1)
                            </div>
                            <div class="tab-panel">
                                高丽
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function(){
             //dropdown menu
            $(".nav-tab .dropdown").mouseenter(function() {
                if(!$(this).children(".dropdown-menu").is(":animated")){
                    $(this).children(".dropdown-menu").fadeIn(600);
                }
            });
            $(".nav-tab .dropdown").mouseleave(function() {
                $(this).children(".dropdown-menu").fadeOut(600);
            });
        });
        //tab切换
        $(function(){
            $(".nav-tab-custom li").click(function(){
                var $this = $(this),
                    index = $this.index();
                $this.addClass("active").siblings("li").removeClass("active");
                $(".tab-content .tab-panel").eq(index).addClass("showing").siblings(".tab-panel").removeClass("showing");
            })
        });
    </script>
</body>
</html>