<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>检索结果详情页</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/myfont.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    
    <script src="{% static 'js/jquery-2.2.3.min.js'  %}"></script>

<style type="text/css">


#up,#down{margin:0;padding:0;overflow:hidden;}

#left,#right{ margin:0;float:left;overflow:hidden;}

/*#middle img{ display:block; margin:0 auto; width:22px; height:30px; padding-top:335px;}*/

.tab-panel iframe{ width:100%;height:100%;position:relative;top:-2px;left:-2px;}

#up { border-bottom:1px solid #82abd5;}

#left { border-right:1px solid #82abd5;}

/*#middle { border-right:1px solid #82abd5;border-bottom:1px solid #82abd5; background-color:#e6e6e6;}*/

/*#right { border-right:1px solid #82abd5;border-bottom:1px solid #82abd5;}
*/


</style>

<script type="text/javascript">

$(document).ready(function()
{
    $(".tab-content").css("padding",0);
    $(".tab-panel").css("padding",0);
    $(".tab-panel").css("border-left","1px solid #82abd5");
    $(".tab-panel").css("border-bottom","1px solid #82abd5");
    $(".tab-panel").css("border-right","1px solid #82abd5");

    var w = $(".tab-content").width();
    var h = $(".tab-content").height();

    $("#up").css("width",w-2);
    $("#up").css("height",150);

    $("#down").css("width",w-2);
    $("#down").css("height",700);

    $("#left").css("width",w*0.7-2);
    $("#left").css("height",700);

    // $("#middle").css("width",30);
    // $("#middle").css("height",700);

    // $("#right").css("width",w*0.3-30);
    // $("#right").css("height",700);

    $("#right").css("width",w*0.3-1);
    $("#right").css("height",700);
});


</script>


</head>
<body>


    {% load m1filter %}


    <div class="wrapper">
        <div class="hanzi-sets-header">
            <div class="shortcut">
                <div class="w">
                    <div class="hanzi-sets-logo fl">
                        <h1><a href="{% url 'm1.index' %}">龙泉字库</a></h1>
                    </div>
                    <div class="nav-tab nav-tab-r fr">
                        <ul  class="tabs clearfix">
                            <li><a href="{% url 'm1.variant-search' %}">异体字检索</a></li>
                            <li><a href="{% url 'm1.dicts' %}">字典</a></li>
                            <li class="dropdown">
                                <!--&lt;!&ndash;<li class="dropdown user-menu">&ndash;&gt; 登录后添加user-menu类名-->
                                <!--未登录前-->
                                <a href="javascript:;" class="dropdown-toggle"><img src="{% static 'img/user_figure.png' %}"></a>
                                <ul class="dropdown-menu">
                                    <li class="user-header">
                                        <img src="{% static 'img/login-ahead.jpg'  %}" class="img-circle" alt="User Image">
                                        <p>未登录</p>
                                    </li>
                                    <li class="user-footer clearfix">
                                        <div class="fl">
                                            <a href="#" class="btn btn-default btn-flat">注册</a>
                                        </div>
                                        <div class="fr">
                                            <a href="#" class="btn btn-default btn-flat">登录</a>
                                        </div>
                                    </li>
                                </ul>
                                <!--./未登录-->
                                <!--登录后-->
                                <!-- The user image in the nav-->
                                <!--<a href="javascript:;">-->
                                <!--<img src="{% static 'img/user-login.jpg' %}" class="user-image" alt="头像">-->
                                <!--<span>贤二</span>-->
                                <!--</a>-->
                                <!--<ul class="dropdown-menu">-->
                                <!--<li class="user-header">-->
                                <!--<img src="{% static 'img/user-login.jpg' %}" class="img-circle" alt="头像">-->
                                <!--<p>贤二</p>-->
                                <!--</li>-->
                                <!--<li class="user-footer clearfix">-->
                                <!--<div class="fl">-->
                                <!--<a href="#" class="btn btn-default btn-flat">修改密码</a>-->
                                <!--</div>-->
                                <!--<div class="fr">-->
                                <!--<a href="#" class="btn btn-default btn-flat">退出登录</a>-->
                                <!--</div>-->
                                <!--</li>-->
                                <!--</ul>-->
                                <!--./登录后-->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="hanzi-sets-content">
            <div class="w">

                <div class="hanzi-sets-main">
                    <div class="hanzi-main-hd clearfix">


                        <!--字头-->

                        <div class="hanzi">
                            <div class="zi">
                                <div class="single-zi">

                                    {% ifequal type "pic" %}
                                     <img src="{{pic_url}}">
                                    {% else %}
                                    {{text}}       
                                    {% endifequal %}

                                </div>
                            </div>
                        </div>



                        <!--表格-->
                        <div class="hanzi-origin clearfix">

                      
                            <dl>
                                <dt></dt>
                                <dd>正异类型：</dd>
                                <dd>所属正字：</dd>
                                <dd>原始出处：</dd>
                            </dl>


                            {% if TW %}
                                <dl>
                                <dt>{{TW|key:"dict"}}</dt>
                                <dd>{{TW|key:"type"}}</dd>                                
                                <dd>{{TW|key:"zhengzhi"}}</dd>

                                <dd>
                                    {% for item in TW|key:"a" %}
                                        <a target="_blank" href="{{item|list:1}}">{{item|list:0}}</a>
                                    {% endfor %}
                                </dd>
                        
                                </dl>
                            {% endif %}


                            {% if HY %}
                                <dl>
                                <dt>{{HY|key:"dict"}}</dt>
                                <dd>{{HY|key:"type"}}</dd>                                
                                <dd>{{HY|key:"zhengzhi"}}</dd>
                                <dd>{{HY|key:"addr"}}</dd>
                                </dl>
                            {% endif %}


                            {% if GL %}
                                <dl>
                                <dt>{{GL|key:"dict"}}</dt>
                                <dd>{{GL|key:"type"}}</dd>                                
                                <dd>{{GL|key:"zhengzhi"}}</dd>
                                <dd><a target="_blank" href="{{GL|key:'url'}}">{{GL|key:"zhengzhi"}}</a></dd>
                                </dl>
                            {% endif %}


                            {% if DH %}
                                <dl>
                                <dt>{{DH|key:"dict"}}</dt>
                                <dd>{{DH|key:"type"}}</dd>
                                <dd>{{DH|key:"zhengzhi"}}</dd>
                                <dd>{{DH|key:"addr"}}</dd>  
                                </dl>
                            {% endif %}


                        </div>
                    </div>


                    <!--属性页-->
                    <div class="hanzi-main-bd">


                        <ul class="nav-tab-custom clearfix">

                        {% if TW %}
                            {% for item in TW|key:"tab" %}
                                <li>{{item|list:0}}</li>
                            {% endfor %}
                        {% endif %}          

                        {% if HY %}
                            <li>{{HY|key:"addr"}}</li>
                        {% endif %}

                        {% if DH %}

                            <li>{{DH|key:"addr"}}</li>
                        {% endif %}

                        {% if GL %}
                            <li>{{GL|key:"zhengzhi"}}</li>
                        {% endif %}

                        </ul>


                        <div class="tab-content">

                        {% if TW %}
                            {% for item in TW|key:"tab" %}
                                <div class="tab-panel">
                                    <!-- {{item|list:1}} -->

                                    <div id="up">
                                        <iframe width="100%" height="100%" seamless src="{{item|list:1}}" name="up"></iframe>
                                    </div>

                                    <div id="down">
                                        <div id="left">
                                            <iframe width="100%" height="100%" seamless src="{{item|list:2}}" name="down"></iframe>
                                        </div>
<!--                                         <div id="middle">
                                            <img src="{% static 'img/arrow-right-33.png' %}">
                                        </div> -->
                                        <div id="right">
                                            <iframe width="100%" height="100%" seamless src="{{item|list:3}}" name="right"></iframe>
                                        </div>
                                    </div>

                                </div>  
                            {% endfor %}
                        {% endif %}          

                        {% if HY %}
                            <div class="tab-panel">
                                <img class="hy-img" src="{{HY|key:'page'}}">
                            </div>
                        {% endif %}

                        {% if DH %}
                            <div class="tab-panel">
                                <img class="dh-img" src="{{DH|key:'page'}}">
                            </div>
                        {% endif %}

                        {% if GL %}
                            <div class="tab-panel">
                                <span class="gl-label">正字：</span><span class="gl-zhengzi">{{GL|key:"zhengzhi"}}</span><br>
                                <span class="gl-label">異體字：</span>
                                                  
                                {% for item in GL|key:"vraiant" %}
                                    <img class="gl-yitizi" src="{{item|key:'pic_url'}}" alt="{{item|key:'pic_id'}}"> 
                                {% endfor %}
                            </div>
                        {% endif %}

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function(){
             //dropdown menu
            $(".nav-tab .dropdown").mouseenter(function() {
                if(!$(this).children(".dropdown-menu").is(":animated")){
                    $(this).children(".dropdown-menu").fadeIn(600);
                }
            });
            $(".nav-tab .dropdown").mouseleave(function() {
                $(this).children(".dropdown-menu").fadeOut(600);
            });
        });
        //tab切换
        $(function()
        {
            $(".nav-tab-custom li").eq(0).addClass("active");
            $(".tab-content .tab-panel").eq(0).addClass("showing");


            $(".nav-tab-custom li").click(function()
            {
                var $this = $(this),
                    index = $this.index();
                $this.addClass("active").siblings("li").removeClass("active");
                $(".tab-content .tab-panel").eq(index).addClass("showing").siblings(".tab-panel").removeClass("showing");
            })
        });
    </script>
</body>
</html>