<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <title>部件笔画检字法</title>

  {% load static %}
  <style type="text/css">
    @font-face {
      font-family: "lqhanzi";
      src: url("{{lqhanzi_font_path}}");
    }
    @font-face {
      font-family: "KaiXinSong";
      src: url("{{kaixinsong_font_path}}");
    }
  </style>
  <link rel="stylesheet" href="{% static 'css/m1-myFont.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
  <script src="{% static 'js/hanzi/stroke_search.js' %}"></script>

  <style type="text/css">
    .reverse {
      background-color: white;
      font-size: 15px;
    }

    .reverse td {
      border: solid #f4f4f4;
      border-width:1px 1px 1px 1px; padding:10px 10px;
    }

    .reverse img {
      height: 15px;
    }

    .reverse td:nth-child(1) {
      width: 90px;
    }

    .reverse td:nth-child(2) {
      width: 80%;
    }

    .search_tips {
      font-style: italic;
    }

    .error-tips {
      display: none;
    }
  </style>

</head>

<body>
<div class="wrapper lq-wrapper">
  <!--header-->
  <div class="header">
    <div class="shortcut">
      <div class="shortcut-inner">
        <div class="nav-tab nav-tab-r fr">
          <ul class="tabs clearfix">
            <li><a href="{% url 'm1.variant-search' %}">异体字检索</a></li>
            <li><a href="{% url 'm1.dicts' %}">字典</a></li>
            <li><a href="{% url 'm2.home-page' %}">工作台</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="w">
      <div class="search-box clearfix">
        <div class="logo fl">
          <h1><a href="#">龙泉字库</a></h1>
        </div>
        <div class="search fl">
          <div class="search-top">

            <div id="checkinfo">
              <div id="triangle"></div>
              <div id="checkinfo_detail"></div>
            </div>

            <input id="searchinput" class="ser-input" type="text" placeholder="请输入结构、部件及笔画信息">
            <span class="ser-btn" id="strock_search_btn">搜索</span>

          </div>
          <div class="search-bottom">
            <label><input type="radio" name="r" value="1" checked="checked"> 一般检索</label>
            <label><input type="radio" name="r" value="2"> 正则检索</label>
            <label><input type="radio" name="r" value="3"> 反查编码</label>
            <label id="current_mode" hidden></label>
          </div>
        </div>
        <div class="help fr">
          <a target="_blank" href="{% url 'm1.help' %}"><i class="icon-help"></i></a>
          <!-- 帮助信息提示 -->
          <div class="stroke-ser-bubble">
            <div class="ser-bubble-inner">
              <p>
                结构可点选下面的结构面板。
                </br>
                常规部件可以直接输入，生僻部件可以查询以下部件面板后点选。
                </br>
                剩余笔画可以输入单个数字，也可输入数字范围。如“⿰日月3-5”，表示该字为左右结构，包含“日”“月”两个部件，剩余笔画为3-5画。
              </p>
              <p class="ar"><a target="_blank" class="more" href="{% url 'm1.help' %}">更多...</a></p>
            </div>
          </div>
        </div>
        <!-- ./帮助信息提示 -->
      </div>
    </div>
  </div>
  <!--./header-->
  <!--content-->
  <div class="content lq-content">
    <div class="w">
      <div class="con-left">
      <div id="reverse-back-btn" style="display: none; margin: -10px -10px 20px -10px; background-color: #f4f4f4; padding: 10px"><a href="javascript:void(0);">&lt;&nbsp;返回</a></div>
      <div id="con-left">
        <p class="total">检索到<span id="total"></span>条数据，每页最多显示<span id="perpage"></span>条。</p>
        <ul class="hanzi-wrap clearfix" id="hanzi-wrap">
        </ul>
        <div class="pages-box" id="pages-box">
          <ul class="pagination" id="pagination">
          </ul>
          <span>跳至&nbsp;<input id="new_page" type="text">&nbsp;页/<span id="pages"></span>页</span>
          <span id="stroke_page_btn" class="page-btn" data-url="">GO</span>
          <span id="search_tip" class="search_tips"></span>
        </div>
      </div>
        </div>
      <!-- 部件检索搜索错误信息提示 -->
      <div class="ser-errormsg">
        <div class="back"><i class="icon-left"></i>返回</div>
        <p>请检查您输入的检索条件是否符合规则？点击查看<a class="lead" href="#">新手教程～</a></p>
      </div>
      <!-- 反查编码 -->
      <div class="reverse-code">
        <div class="back"><i class="icon-left"></i>返回</div>
        <div class="reverse-bd">
          <div class="hanzi-tit">菩</div>
          <table class="table table-bordered reverse-table" style="width:90%;border:1px solid #ddd;">
            <tbody>
            <tr>
              <td>初步拆分</td>
              <td>⿰氵⿱刀止</td>
            </tr>
            <tr>
              <td>调笔拆分</td>
              <td>⿰氵⿱刀止</td>
            </tr>
            <tr>
              <td>混合拆分</td>
              <td>⿰氵⿱刀止</td>
            </tr>
            <tr>
              <td>相似部件</td>
              <td>⿰氵⿱刀止</td>
            </tr>
            <tr>
              <td>部件序列</td>
              <td>⿰氵⿱刀止</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- ./反查编码 -->
      <!-- ./ 检索搜索错误信息提示-->
      <div class="con-right" id="con-right">
        <!--结构-->
        <div class="compontent clearfix">
          <div class="compontent-hd">
            <span>结构：</span>
          </div>
          <div class="compontent-bd">
            <span data-value="⿱" class="compontent-item"><img src="{% static 'img/structs/01.gif' %}" alt=""></span>
            <span data-value="⿰" class="compontent-item"><img src="{% static 'img/structs/02.gif' %}" alt=""></span>
            <span data-value="⿵" class="compontent-item"><img src="{% static 'img/structs/03.gif' %}" alt=""></span>
            <span data-value="⿶" class="compontent-item"><img src="{% static 'img/structs/04.gif' %}" alt=""></span>
            <span data-value="⿷" class="compontent-item"><img src="{% static 'img/structs/05.gif' %}" alt=""></span>
            <span data-value="󰃾" class="compontent-item"><img src="{% static 'img/structs/06.gif' %}" alt=""></span>
            <span data-value="⿺" class="compontent-item"><img src="{% static 'img/structs/07.gif' %}" alt=""></span>
            <span data-value="󰃿" class="compontent-item"><img src="{% static 'img/structs/08.gif' %}" alt=""></span>
            <span data-value="⿹" class="compontent-item"><img src="{% static 'img/structs/09.gif' %}" alt=""></span>
            <span data-value="⿸" class="compontent-item"><img src="{% static 'img/structs/10.gif' %}" alt=""></span>
            <span data-value="⿻" class="compontent-item"><img src="{% static 'img/structs/11.gif' %}" alt=""></span>
            <span data-value="⿴" class="compontent-item"><img src="{% static 'img/structs/12.gif' %}" alt=""></span>
          </div>
        </div>
        <!--./结构 -->
        <!--部件-->
        <div class="parts">
          <div class="parts-top clearfix">
            <div class="parts-hd">
              <span>部件：</span>
            </div>
            <div class="parts-bd">
              <div class="parts-ser clearfix">
                <input type="text" class="fl" id="radical_input" placeholder="请点选或输入笔画及笔顺">
                <button class="btn btn-default fl" id="clearitem"><i class="reset"></i></button>
                <!-- 帮助图标 -->
                <div class="help fl">
                  <div class="stroke-helppanel-bubble">
                    <div class="helppanel-bubble-inner">
                      <p>
                        可点选，也可以手工输入。
                        </br>
                        笔顺点\横\竖\撇\捺\折分别对应d\h\s\p\n\z。
                        </br>
                        剩余笔画可以输入单个数字，也可输入数字范围。例如：
                        </br>
                        1、hs3-5，表示前两画为横、竖，剩余3-5画；
                        </br>
                        2、3-5hs，表示总笔画为3-5，前两画为横、竖。
                      </p>
                    </div>
                  </div>
                  <i class="icon-help"></i>
                </div>
                <!-- 错误信息提示 -->
                <span class="error-msg fl" id="searcherror"></span>
              </div>

              <!--笔画-->
              <div class="stroke">
                <span class="stroke-hd">笔画：</span>
                <div id="strokes" class="stroke-bd">
                  <!-- <span class="stroke-item active">All</span> -->
                  <span class="stroke-item">1</span>
                  <span class="stroke-item">2</span>
                  <span class="stroke-item">3</span>
                  <span class="stroke-item">4</span>
                  <span class="stroke-item">5</span>
                  <span class="stroke-item">6</span>
                  <span class="stroke-item">7</span>
                  <span class="stroke-item">8</span>
                  <span class="stroke-item">9</span>
                  <span class="stroke-item">10</span>
                  <span class="stroke-item">11</span>
                  <span class="stroke-item">12</span>
                  <span class="stroke-item">13</span>
                  <span class="stroke-item">14</span>
                  <span class="stroke-item">15</span>
                  <span class="stroke-item">16</span>
                  <span class="stroke-item">17</span>
                  <span class="stroke-item">18</span>
                  <span class="stroke-item">19</span>
                </div>
              </div>
              <!--笔顺-->
              <div class="stroke">
                <span class="stroke-hd">笔顺：</span>
                <div id="stroke-order" class="stroke-bd">
                  <span data-value="d" class="stroke-item">点</span>
                  <span data-value="h" class="stroke-item">横</span>
                  <span data-value="s" class="stroke-item">竖</span>
                  <span data-value="p" class="stroke-item">撇</span>
                  <span data-value="n" class="stroke-item">捺</span>
                  <span data-value="z" class="stroke-item">折</span>
                </div>
              </div>
            </div>
          </div>
          <!--部件结果-->
          <div class="parts-results">
            {% for item in part_list %}
              {% if item.flag %}
                <span class="result-stoke" data-stroke="{{ item.flag }}-">{{ item.flag }}</span>
              {% else %}
                <span class="result-item"
                      data-stroke="{{ item.strokes }}-{{ item.stroke_order }}">{{ item.part_char }}</span>
              {% endif %}
            {% endfor %}
          </div>

        </div>
        <!--./部件-->
      </div>
    </div>
  </div>
  <!--./content-->
  <!--bubble-->
  <div class="bubble" id="btip">
    <div class="bubble-inner">
      <div class="bubble-hd">
        <ul class="hd-lists">
          <li class="clearfix" id="line1">
            <span class="fl" id="source">来源：</span>
            <div class="fl" id="bline2"></div>
          </li>
          <li class="clearfix" id="line2">
            <span class="fl" id="code">编码：</span>
            <div class="fl" id="bline3"></div>
          </li>
          <li class="clearfix" id="line3">
            <span class="fl" id="radical">部首：</span>
            <div class="fl" id="bline4"></div>
            <span class="fl" id="strokes">笔画：</span>
            <div class="fl" id="bline5"></div>
            <span class="fl" id="std_hanzi">所属正字：</span>
            <div class="fl" id="bline6"></div>
          </li>
          <li class="clearfix" id="line4">
            <span class="fl" id="initial_split">初步折分：</span>
            <div class="fl" id="bline7"></div>
          </li>
        </ul>
        <!-- <hr class="split_line"> -->
        <span class="other_title">
            <span id="search1" class="other_style fl" data-value="">异体字检索</span>
            <span id="search2" class="other_style fr" data-value="">反查编码</span>
        </span>
      </div>

    </div>

  </div>
  <!--./bubble-->
  <!-- loading:数据请求时动画-->
  <div class="loading">
    <div class="spinner">
      <div class="spinner-container container1">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
      </div>
      <div class="spinner-container container2">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
      </div>
      <div class="spinner-container container3">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
      </div>
    </div>
  </div>
</div>
<!-- ./wrapper -->
<!-- bottom -->
<div class="bottom">
  <div class="bottom-content">
    <div style="padding: 15px 0">
      <div class="copy-right fl">Copyright@2017 hanzi.lqdzj.cn All right Reserved</div>
      <!--<ul class="links fr">-->
        <!--<li><a>关于我们</a>|</li>-->
        <!--<li><a>免责申请</a>|</li>-->
        <!--<li><a href="{% url 'm1.help' %}">帮助中心</a></li>-->
      <!--</ul>-->
    </div>
    <div class="clearfix"></div>
    <!--<div class="record-code" style="padding: 10px 0">版权所有 京ICP备16061775号</div>-->
  </div>
</div>
<!-- ./bottom -->


<script>
    $(function () {
        $(".nav-tab .dropdown").mouseenter(function () {
            if (!$(this).children(".dropdown-menu").is(":animated")) {
                $(this).children(".dropdown-menu").delay(800).fadeIn(600);
            }
        });
        $(".nav-tab .dropdown").mouseleave(function () {
            $(this).children(".dropdown-menu").fadeOut(600);
        });
    });
    $(function () {
        $(".search-box .help").mouseenter(function () {
            if (!$(this).children(".stroke-ser-bubble").is(":animated")) {
                $(this).children(".stroke-ser-bubble").delay(800).fadeIn(600);
            }
        });
        $(".search-box .help").mouseleave(function () {
            $(this).children(".stroke-ser-bubble").fadeOut(600);
        });
    });
    $(function () {
        $(".parts-ser .help").mouseenter(function () {
            if (!$(this).children(".stroke-helppanel-bubble").is(":animated")) {
                $(this).children(".stroke-helppanel-bubble").delay(800).fadeIn(600);
            }
        });
        $(".parts-ser .help").mouseleave(function () {
            $(this).children(".stroke-helppanel-bubble").fadeOut(600);
        });
    });
    // $(function(){
    //     $("#search-btn").on("click",function(){
    //         //说明：点击搜索按钮，请求数据，loading显示，请求回结果后loading消失，汉字结果盒子显示后loading，即变成了左右结构。
    //         //$(".loading").show();
    //         $(".con-left").fadeIn(600);
    //         $(".con-right").addClass("con-right-new");
    //     })
    // });
    // $(function (){
    //     $(".hanzi-item").bubbletips({position : "b",value : 35});
    // });
</script>

</body>
</html>