<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <title>异体字综合信息-{{ q }}</title>

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/m1-myFont.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
  <script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
  <script src="{% static 'js/vue.js' %}"></script>
  <script src="{% static 'js/hanzi/variant_detail.js' %}"></script>
  <script src="{{STATIC_URL}}js/jquery.zoom.min.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}js/jquery-ui.min.js" type="text/javascript"></script>

  <style type="text/css">
    .tab-content {
      margin: 0px;
      padding: 0px;
      border-left: 1px solid #82abd5;
      border-bottom: 1px solid #82abd5;
      border-right: 1px solid #82abd5;
    }

    .tab-panel {
      margin: 0px;
      padding: 0px;
    }

    .tab-panel iframe {
      overflow: scroll;
      width: 100%;
      border: 1px solid #eee;
      position: relative;
      top: -2px;
      left: -2px;
    }
    @font-face {
      font-family: "lqhanzi";
      src: url("{{lqhanzi_font_path}}");
    }
    @font-face {
      font-family: "KaiXinSong";
      src: url("{{kaixinsong_font_path}}");
    }
    @font-face {
      font-family: "Tripitaka Unicode";
      src: url("{{tripitaka_font_path}}");
    }

    .nav-tab-custom li {
      background-color: white;
    }
  </style>

</head>
<body>

{% load m1filter %}

<div class="wrapper">
  <div class="hanzi-sets-header">
    <div class="shortcut">
      <div class="w">
        <div class="hanzi-sets-logo fl">
          <h1><a href="{% url 'm1.index' %}">龙泉字库</a></h1>
        </div>
        <div class="nav-tab nav-tab-r fr">
          <ul class="tabs clearfix">
            <li><a href="{% url 'm1.variant-search' %}">异体字检索</a></li>
            <li><a href="{% url 'm1.dicts' %}">字典</a></li>
            <li><a href="{% url 'm2.home-page' %}">工作台</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="hanzi-sets-content">
    <div class="w">
      <div class="hanzi-sets-main">
        <div class="hanzi-main-hd clearfix">
          <!--字头-->
          <div class="hanzi">
            <div class="zi">
              {% if pic_url %}
                <img src="{{ pic_url }}" alt="{{ hanzi_pic_id }}">
              {% else %}
                {{ hanzi_char }}
              {% endif %}
            </div>
          </div>

          <!--表格-->
          <div class="hanzi-origin clearfix">
            <dl>
              <dt></dt>
              <dd>正异类型：</dd>
              <dd>所属正字：</dd>
              <dd>原始出处：</dd>
            </dl>
            <dl>
              <dt>台湾异体字字典</dt>
              <dd>{% if taiwan.variant_type %}{{ taiwan.variant_type }} {% else %}-{% endif %}</dd>
              <dd>{% if taiwan.std_hanzi %}{{ taiwan.std_hanzi }} {% else %}-{% endif %}</dd>
              <dd>
                {% for item in taiwan.origin_positions %}
                  <a target="_blank" href="{{ item.url }}">{{ item.seq_id }}</a>
                {% empty %}
                  -
                {% endfor %}
              </dd>
            </dl>
            <dl>
              <dt>高丽异体字字典</dt>
              <dd>{% if korean.variant_type %}{{ korean.variant_type }} {% else %}-{% endif %}</dd>
              <dd>{% if korean.std_hanzi %}{{ korean.std_hanzi }} {% else %}-{% endif %}</dd>
              <dd>
                {% for item in korean.origin_positions %}
                  <a target="_blank" href="{{ item.url }}">{{ item.seq_id }}</a>
                {% empty %}
                  -
                {% endfor %}
              </dd>
            </dl>
            <dl>
              <dt>汉语大字典</dt>
              <dd>-</dd>
              <dd>-</dd>
              <dd><span class="origin">{% if hanyu.positions %}{{ hanyu.positions }} {% else %}-{% endif %}</span></dd>
            </dl>
            <dl>
              <dt>敦煌俗字典</dt>
              <dd>-</dd>
              <dd>-</dd>
              <dd><span class="origin">{% if dunhuang.positions %}{{ dunhuang.positions }} {% else %}-{% endif %}</span>
              </dd>
            </dl>
          </div>

        </div>

        <!--属性页-->
        <div class="hanzi-main-bd" style="{% if empty %}display: none;{% endif %}">
          <ul class="nav-tab-custom clearfix">
            {% if taiwan %}
              {% for item in taiwan.positions %}
                <li data-type="taiwan">{{ item }}(台湾)</li>
              {% endfor %}
            {% endif %}

            {% if korean %}
              <li data-type="korean">{{ korean.positions|list:0 }}(高丽)</li>
            {% endif %}

            {% if hanyu %}
              <li data-type="hanyu">{{ hanyu.positions }}(汉语)</li>
            {% endif %}

            {% if dunhuang %}
              <li data-type="dunhuang">{{ dunhuang.positions }}(敦煌)</li>
            {% endif %}
          </ul>

          <div class="tab-content">
            {% if taiwan %}
              {% for seq_id in taiwan.positions %}
                <div class="tab-panel">
                  <iframe seamless src="/dicts/taiwan/detail?q={{ seq_id }}" class="iframe-taiwan"
                          onload="iFrameHeightByClass('iframe-taiwan')"></iframe>
                </div>
              {% endfor %}
            {% endif %}

            {% if korean %}
              <div class="tab-panel">
                <iframe seamless src="/dicts/korean/detail?q={{ korean.positions|list:0 }}" class="iframe-korean"
                        onload="iFrameHeightByClass('iframe-korean')"></iframe>
              </div>
            {% endif %}

              <div class="tab-panel" id="hanyu-img">
              {% if hanyu %}
                <div class="button-group">
                  <button class="btn btn-default glyphicon glyphicon-step-backward" @click="prev"><i class="icon-left"></i></button>
                  <span>放大倍数:</span><input size="4" id="magnify" type="text" v-model="magnify" style="border:2px solid #ddd"/>
                  <button class="btn btn-default glyphicon glyphicon-step-forward" @click="next"><i class="icon-right"></i></button>
                </div>
                <div id="hy-img" style="text-align: center; overflow-y: auto;">
                  <img class="hanyu-image align-center" :src="path" alt="" style="width: 85%;">
                </div>
              {% endif %}
              </div>

             <div class="tab-panel" id="dunhuang-img">
              {% if dunhuang %}
                <div class="button-group">
                  <button class="btn btn-default glyphicon glyphicon-step-backward" @click="prev"><i class="icon-left"></i></button>
                  <span>放大倍数:</span><input size="4" id="magnify2" type="text" v-model="magnify" style="border:2px solid #ddd"/>
                  <button class="btn btn-default glyphicon glyphicon-step-forward" @click="next"><i class="icon-right"></i></button>
                </div>
                <div id="dh-img" style="text-align: center; overflow-y: auto;">
                  <img class="dh-img align-center" :src="path" alt="" style="width: 85%;">
                </div>
              {% endif %}
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $(function () {
        //dropdown menu
        $(".nav-tab .dropdown").mouseenter(function () {
            if (!$(this).children(".dropdown-menu").is(":animated")) {
                $(this).children(".dropdown-menu").fadeIn(600);
            }
        });
        $(".nav-tab .dropdown").mouseleave(function () {
            $(this).children(".dropdown-menu").fadeOut(600);
        });
    });
    //tab切换
    $(function () {
        var first_tab = $(".nav-tab-custom li").eq(0),
            type = first_tab.data("type");

        first_tab.addClass("active");

        $(".tab-content .tab-panel").eq(0).addClass("showing");

        $(".nav-tab-custom li").click(function () {
            var $this = $(this),
                index = $this.index(),
                type = $this.data("type");
            $this.addClass("active").siblings("li").removeClass("active");
            $(".tab-content .tab-panel").eq(index).addClass("showing").siblings(".tab-panel").removeClass("showing");
        })
    });

    var hanyu_zoom = new Vue({
      delimiters: ["#[", "]]"],
      el: '#hanyu-img',
      data: {
        magnify: 0.5,
        path: "{{ hanyu.image_url }}",
        cur_page: '',
      },
      created: function() {
        if (this.path != '')
          this.cur_page = this.path.match('[0-9]{4}')[0];
      },
      methods: {
        next: function() {
          var page = this.cur_page;
          var type = '';
          var matches = page.match(/(A)(\d+)/);
          if (matches != null) {
              type = matches[1];
              page = matches[2];
          }
          var max_page_map = {'A': 25, '': 5727};
          var max_page = max_page_map[type];
          var next_page = parseInt(page) + 1 < max_page ? parseInt(page) + 1 : max_page;
          if (type == 'A' && next_page < 10) {
              next_page = '0' + next_page;
          }
          next_page = '' + type + next_page;
          if (next_page == 'A25')
              next_page = 1;
          this.set_page(next_page);
        },

        prev: function() {
          var page = this.cur_page;
          var type = '';
          var matches = page.match(/(A)(\d+)/);
          if (matches != null) {
              type = matches[1];
              page = matches[2];
          }
          var last_page = parseInt(page) > 1 ? parseInt(page) - 1 : 1;
          if (type == 'A' && last_page < 10) {
              last_page = '0' + last_page;
          }
          last_page = '' + type + last_page;
          if (last_page == '1') {
              last_page = 'A25';
          }
          this.set_page(last_page);
        },

            // 设置浏览页面
        set_page: function(page) {
          page = page + '';
          var padding_page = page;
          var suffix = '.png';
          if (padding_page.match(/^\d+$/) != null) {
              var pad = "0000"
              padding_page = pad.substring(0, pad.length - page.length) + page;
          } else if (page.match(/A0[12]/) != null) {
              suffix = '.jpg';
          }
          this.path = 'http://s3.cn-north-1.amazonaws.com.cn/lqhanzi-images/dictionaries/zh-dict/' + padding_page + suffix;

          // 设置当前页面
          this.cur_page = page;
        }
      },
       watch: {
          magnify: function () {
              $('#img').zoom({
                  url: this.path,
                  callback: function () {
                      $(this).colorbox({href: this.src});
                  },
                  magnify: this.magnify
              });
          },
          path: function () {
              $('#img').zoom({
                  url: this.path,
                  callback: function () {
                      $(this).colorbox({href: this.src});
                  },
                  magnify: this.magnify
              });
          },
      },
    });

    var dunhuang_zoom = new Vue({
      delimiters: ["#[", "]]"],
      el: '#dunhuang-img',
      data: {
        magnify: 0.5,
        path: "{{ dunhuang.image_url }}",
        cur_page: '',
      },
      created: function() {
        if (this.path != '')
          this.cur_page = this.path.match('[0-9]{3}')[0];
      },
      methods: {
        next: function() {
          var page = this.cur_page;
          var type = '';
          var matches = page.match(/(A)(\d+)/);
          if (matches != null) {
              type = matches[1];
              page = matches[2];
          }
          var max_page_map = {'A': 91, '': 770};
          var max_page = max_page_map[type];
          var next_page = parseInt(page) + 1 < max_page ? parseInt(page) + 1 : max_page;
          if (type == 'A' && next_page < 10) {
              next_page = '0' + next_page;
          }
          next_page = '' + type + next_page;
          if (next_page == 'A91')
              next_page = 1;
          this.set_page(next_page);
        },

        prev: function() {
          var page = this.cur_page;
          var type = '';
          var matches = page.match(/(A)(\d+)/);
          if (matches != null) {
              type = matches[1];
              page = matches[2];
          }
          var last_page = parseInt(page) > 1 ? parseInt(page) - 1 : 1;
          if (type == 'A' && last_page < 10) {
              last_page = '0' + last_page;
          }
          last_page = '' + type + last_page;
          if (last_page == '1') {
              last_page = 'A91';
          }
          this.set_page(last_page);
        },

            // 设置浏览页面
        set_page: function(page) {
          page = page + '';
          var padding_page = page;
          var suffix = '.png';
          if (padding_page.match(/^\d+$/) != null) {
              var pad = "000"
              padding_page = pad.substring(0, pad.length - page.length) + page;
          }
          this.path = 'http://s3.cn-north-1.amazonaws.com.cn/lqhanzi-images/dictionaries/dh-dict/' + padding_page + suffix;

          // 设置当前页面
          this.cur_page = page;
        }
      },
       watch: {
          magnify: function () {
              $('#img').trigger('zoom.destroy');
              $('#img').zoom({
                  url: this.path,
                  magnify: this.magnify
              });
          },
          path: function () {
              $('#img').trigger('zoom.destroy');
              $('#img').zoom({
                  url: this.path,
                  magnify: this.magnify
              });
          },
      },
    });

    $('#hy-img').zoom({url: hanyu_zoom.path, callback: function(){}, magnify: hanyu_zoom.magnify});
    $('#dh-img').zoom({url: dunhuang_zoom.path, callback: function(){}, magnify: dunhuang_zoom.magnify});

</script>
</body>
</html>